
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527879919921791763.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527879919921791763.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527879919921791763.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527879919921791763.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527879919921791763.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527879919921791763.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527879919921791763.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527879919921791763.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527879919921791763.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527879919921791763.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527879919921791763.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527879919921791763.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527879919921791763.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-527879919921791763.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527879919921791763.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527879919921791763.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-527879919921791763.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527879919921791763.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-527879919921791763.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527879919921791763.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527879919921791763.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-527879919921791763.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527879919921791763.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-527879919921791763.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527879919921791763.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-527879919921791763.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527879919921791763.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527879919921791763.gps.gpsil [style*="--hvr-shadow:"]:hover{box-shadow:var(--hvr-shadow)}.gps-527879919921791763.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527879919921791763.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-527879919921791763.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527879919921791763.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527879919921791763.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527879919921791763.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527879919921791763.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527879919921791763.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527879919921791763.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527879919921791763.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-527879919921791763.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-527879919921791763.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527879919921791763.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527879919921791763.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527879919921791763.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527879919921791763.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-527879919921791763.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527879919921791763.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-527879919921791763.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527879919921791763.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527879919921791763.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527879919921791763.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527879919921791763.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527879919921791763.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527879919921791763.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-527879919921791763.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527879919921791763.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-527879919921791763.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-527879919921791763.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527879919921791763.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527879919921791763.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-527879919921791763.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-527879919921791763.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-527879919921791763.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527879919921791763.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527879919921791763.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527879919921791763.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-527879919921791763.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-527879919921791763.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-527879919921791763.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-527879919921791763.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-527879919921791763.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-527879919921791763.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527879919921791763.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527879919921791763.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527879919921791763.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527879919921791763.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527879919921791763.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-527879919921791763.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-527879919921791763.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-527879919921791763 .gp-invisible{visibility:hidden}.gps-527879919921791763 .gp-absolute{position:absolute}.gps-527879919921791763 .gp-relative{position:relative}.gps-527879919921791763 .gp-inset-0{inset:0}.gps-527879919921791763 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-527879919921791763 .gp-top-0{top:0}.gps-527879919921791763 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-527879919921791763 .gp-z-1{z-index:1}.gps-527879919921791763 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527879919921791763 .gp-mb-0{margin-bottom:0}.gps-527879919921791763 .gp-flex{display:flex}.gps-527879919921791763 .gp-inline-flex{display:inline-flex}.gps-527879919921791763 .gp-grid{display:grid}.gps-527879919921791763 .\!gp-hidden{display:none!important}.gps-527879919921791763 .gp-hidden{display:none}.gps-527879919921791763 .gp-h-full{height:100%}.gps-527879919921791763 .gp-w-full{width:100%}.gps-527879919921791763 .gp-max-w-full{max-width:100%}.gps-527879919921791763 .gp-flex-col{flex-direction:column}.gps-527879919921791763 .gp-items-center{align-items:center}.gps-527879919921791763 .\!gp-justify-center{justify-content:center!important}.gps-527879919921791763 .gp-justify-center{justify-content:center}.gps-527879919921791763 .gp-gap-y-0{row-gap:0}.gps-527879919921791763 .gp-overflow-hidden{overflow:hidden}.gps-527879919921791763 .gp-break-words{overflow-wrap:break-word}.gps-527879919921791763 .gp-rounded-none{border-radius:0}.gps-527879919921791763 .gp-text-center{text-align:center}.gps-527879919921791763 .gp-no-underline{text-decoration-line:none}.gps-527879919921791763 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527879919921791763 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527879919921791763 .gp-duration-200{transition-duration:.2s}.gps-527879919921791763 .gp-duration-300{transition-duration:.3s}.gps-527879919921791763 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527879919921791763 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-527879919921791763 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527879919921791763 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-527879919921791763 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-527879919921791763 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-527879919921791763 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527879919921791763 .tablet\:gp-absolute{position:absolute}.gps-527879919921791763 .tablet\:\!gp-hidden{display:none!important}.gps-527879919921791763 .tablet\:gp-hidden{display:none}.gps-527879919921791763 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-527879919921791763 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-527879919921791763 .mobile\:gp-relative{position:relative}.gps-527879919921791763 .mobile\:\!gp-hidden{display:none!important}.gps-527879919921791763 .mobile\:gp-hidden{display:none}.gps-527879919921791763 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-527879919921791763 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-527879919921791763 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-527879919921791763 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-527879919921791763 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527879919921791763 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLng86lB8J" data-id="gLng86lB8J"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:20px;--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:20px;--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgc-tablet:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll"
        class="gLng86lB8J gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9eXiXj-Vn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="glu3sD_diz" data-id="glu3sD_diz"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pb:30px;--pb-mobile:0px;--cg:30px;--pc:start;--pc-mobile:center;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glu3sD_diz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9f3wBNx9o gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:200px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF 95%)","image":{"backupFileKey":"gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","height":2160,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"tablet":{"attachment":"scroll","color":"linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF 95%)","image":{"backupFileKey":"gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","height":2160,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"mobile":{"attachment":"scroll","color":"linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF 95%)","image":{"backupFileKey":"gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","height":2160,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png","storage":"FILE_CONTENT","width":2160},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"ggBzq2ttOx","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"21/9"}}'
        
        class="ggBzq2ttOx gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pb-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="ggBzq2ttOx"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:200px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2160/2160;--aspect-tablet:2160/2160;--aspect-mobile:2160/2160;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 16px 16px 16px 16px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF 95%);--bgp:50% 50%;--bgs:contain;--bgr:no-repeat;--bgi:url(https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png), linear-gradient(130deg, #FFFFFF 0%, #FFFFFF 50%, #FFFFFF 95%);--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-b7a395c9-a914-4ba3-83e0-5ab69f0d0125.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#A0A0A0;--top:0;--left:0;--op:38%;--hvr-op:20%"
          > </div>
          </div>
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/abanicos-prearmados"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giLAkpx9MO gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gMoP5yHYbS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .gMoP5yHYbS:hover::before {
      
      
    }

    .gMoP5yHYbS:hover .gp-button-icon {
      color: #2CD5C4;
    }

     .gMoP5yHYbS .gp-button-icon {
      color: #FFFFFF;
    }

    .gMoP5yHYbS:hover .gp-button-price {
      color: #2CD5C4;
    }

    .gMoP5yHYbS .gp-button-price {
      color: #FFFFFF;
    }

    .gMoP5yHYbS .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gMoP5yHYbS:hover .gp-product-dot-price {
      color: #2CD5C4;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/abanicos-prearmados" target="_self" data-id="gMoP5yHYbS" aria-label="Premade Fan"
      
      data-state="idle"
      class="gMoP5yHYbS gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#ffffff;--bg:#2CD5C4;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-shadow:0px 0px 36px 10px #2cd5c4;--shadow:0px 0px 36px 10px #2cd5c4;--w:NaNAuto%px;--w-tablet:NaNAuto%px;--w-mobile:NaNAuto%px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#2CD5C4;--c:#FFFFFF;--size:38px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:38px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ "sections.gp-global-section-527879919921791763.ggMoP5yHYbS_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmXQc6E2oF gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:200px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","width":1000,"height":1000,"backupFileKey":"gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":100},"repeat":"no-repeat","size":"contain","type":"image"},"tablet":{"attachment":"scroll","color":"#ffffff","image":{"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","width":1000,"height":1000,"backupFileKey":"gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":100},"repeat":"no-repeat","size":"contain","type":"image"},"mobile":{"attachment":"scroll","color":"#ffffff","image":{"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","width":1000,"height":1000,"backupFileKey":"gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":100},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"g4BqqIDayv","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"21/9"}}'
        
        class="g4BqqIDayv gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pb-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="g4BqqIDayv"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:200px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 16px 16px 16px 16px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#ffffff;--bgp:50% 100%;--bgs:contain;--bgr:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-566658e2-eac5-4e09-8352-36e2d35e9747.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#A0A0A0;--top:0;--left:0;--op:53%;--hvr-op:20%"
          > </div>
          </div>
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/pestanas-w"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLf9jA3O_6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g6JrPwbv-8.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .g6JrPwbv-8:hover::before {
      
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .g6JrPwbv-8:hover .gp-button-icon {
      color: #2CD5C4;
    }

     .g6JrPwbv-8 .gp-button-icon {
      color: #ffffff;
    }

    .g6JrPwbv-8:hover .gp-button-price {
      color: #2CD5C4;
    }

    .g6JrPwbv-8 .gp-button-price {
      color: #ffffff;
    }

    .g6JrPwbv-8 .gp-product-dot-price {
       color: #ffffff;
    }

    .g6JrPwbv-8:hover .gp-product-dot-price {
      color: #2CD5C4;
    }
  </style>
    <a
      href="https://puravidalash.com/collections/pestanas-w-yy" target="_self" data-id="g6JrPwbv-8" aria-label="<p>YY/W</p>"
      
      data-state="idle"
      class="g6JrPwbv-8 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#2CD5C4;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--shadow:0px 0px 36px 10px #2cd5c4;--w:NaNAuto%px;--w-tablet:NaNAuto%px;--w-mobile:NaNAuto%px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#2CD5C4;--c:#ffffff;--size:38px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:38px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ "sections.gp-global-section-527879919921791763.gg6JrPwbv-8_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="guXhoNqQiC" data-id="guXhoNqQiC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pb:0px;--pb-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guXhoNqQiC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glUSPxJ817 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:200px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png","height":1875,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png","storage":"FILE_CONTENT","width":1875},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"tablet":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png","height":1875,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png","storage":"FILE_CONTENT","width":1875},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"mobile":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png","height":2048,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png","storage":"FILE_CONTENT","width":5462},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"goktYMZreq","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="goktYMZreq gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pb-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="goktYMZreq"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:200px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1875/1875;--aspect-tablet:1875/1875;--aspect-mobile:5462/2048;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 16px 16px 16px 16px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#ffffff;--bgc-mobile:#ffffff;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:contain;--bgs-mobile:contain;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-37e325b2-66c1-4a73-ac65-584735afb946.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-d81f35c6-39d1-4346-a8e3-9ea92e1b611d.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#A0A0A0;--top:0;--left:0;--op:53%;--hvr-op:20%"
          > </div>
          </div>
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/pestanas-yy"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsjzAb45dK gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gXuQmxhaeC.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .gXuQmxhaeC:hover::before {
      
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .gXuQmxhaeC:hover .gp-button-icon {
      color: #2cd5c4;
    }

     .gXuQmxhaeC .gp-button-icon {
      color: #ffffff;
    }

    .gXuQmxhaeC:hover .gp-button-price {
      color: #2cd5c4;
    }

    .gXuQmxhaeC .gp-button-price {
      color: #ffffff;
    }

    .gXuQmxhaeC .gp-product-dot-price {
       color: #ffffff;
    }

    .gXuQmxhaeC:hover .gp-product-dot-price {
      color: #2cd5c4;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/adhesivos" target="_self" data-id="gXuQmxhaeC" aria-label="<p>adhesivos</p>"
      
      data-state="idle"
      class="gXuQmxhaeC gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#2cd5c4;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--shadow:0px 0px 36px 10px #2cd5c4;--w:NaNAuto%px;--w-tablet:NaNAuto%px;--w-mobile:NaNAuto%px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#2cd5c4;--c:#ffffff;--size:38px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--ls:0px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:38px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ "sections.gp-global-section-527879919921791763.ggXuQmxhaeC_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0qvI2uY_O gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gOyyq8Q7oU" data-id="gOyyq8Q7oU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pb:30px;--pb-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOyyq8Q7oU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9qyI96EL1 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:200px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png","height":1875,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png","storage":"FILE_CONTENT","width":1875},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"tablet":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png","height":1875,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png","storage":"FILE_CONTENT","width":1875},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"},"mobile":{"attachment":"scroll","color":"#ffffff","image":{"backupFileKey":"gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png","height":2048,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png","storage":"FILE_CONTENT","width":5462},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"contain","type":"image"}},"uid":"gRywfEes-b","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="gRywfEes-b gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pb-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gRywfEes-b"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:200px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1875/1875;--aspect-tablet:1875/1875;--aspect-mobile:5462/2048;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:200px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 16px 16px 16px 16px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#ffffff;--bgc-mobile:#ffffff;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:contain;--bgs-mobile:contain;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-ef5ac046-f0d0-40a2-b307-5a3e68799f9a.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png" data-srcset="https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png 768w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png 1024w,https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-3a506eba-532c-475c-b2f4-d89eb43af9b1.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#A0A0A0;--top:0;--left:0;--op:53%;--hvr-op:20%"
          > </div>
          </div>
          <a
              href="https://puravidalash.com/collections/liquidos-y-pegamentos"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZZ7n1qKmL gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g9wj7tc-Fb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .g9wj7tc-Fb:hover::before {
      
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .g9wj7tc-Fb:hover .gp-button-icon {
      color: #2cd5c4;
    }

     .g9wj7tc-Fb .gp-button-icon {
      color: #ffffff;
    }

    .g9wj7tc-Fb:hover .gp-button-price {
      color: #2cd5c4;
    }

    .g9wj7tc-Fb .gp-button-price {
      color: #ffffff;
    }

    .g9wj7tc-Fb .gp-product-dot-price {
       color: #ffffff;
    }

    .g9wj7tc-Fb:hover .gp-product-dot-price {
      color: #2cd5c4;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/pre-tratamiento" target="_self" data-id="g9wj7tc-Fb" aria-label="<p>Pre-tratamiento</p>"
      
      data-state="idle"
      class="g9wj7tc-Fb gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#2cd5c4;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--hvr-shadow:0px 0px 36px 10px #2cd5c4;--shadow:0px 0px 36px 10px #2cd5c4;--w:NaNAuto%px;--w-tablet:NaNAuto%px;--w-mobile:NaNAuto%px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#2cd5c4;--c:#ffffff;--size:31px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--ls:0px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:31px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ "sections.gp-global-section-527879919921791763.gg9wj7tc-Fb_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "categorias clasico" }],
    "name": "categorias clasico",
    "tag": "section",
    "class": "gps-527879919921791763 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=527879919921791763)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{"ggMoP5yHYbS_label_html":"Premade Fan","gg6JrPwbv-8_label_html":"<p>YY/W</p>","ggXuQmxhaeC_label_html":"<p>adhesivos</p>","gg9wj7tc-Fb_label_html":"<p>Pre-tratamiento</p>"}}
  }
{% endschema %}
