
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-526148397497844851.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-526148397497844851.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-526148397497844851.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-526148397497844851.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-526148397497844851.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-526148397497844851.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-526148397497844851.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-526148397497844851.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-526148397497844851.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-526148397497844851.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-526148397497844851.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-526148397497844851.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-526148397497844851.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-526148397497844851.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-526148397497844851.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-526148397497844851.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-526148397497844851.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-526148397497844851.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-526148397497844851.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-526148397497844851.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-526148397497844851.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-526148397497844851.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-526148397497844851.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-526148397497844851.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-526148397497844851.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-526148397497844851.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-526148397497844851.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-526148397497844851.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-526148397497844851.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-526148397497844851.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-526148397497844851.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-526148397497844851.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-526148397497844851.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-526148397497844851.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-526148397497844851.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-526148397497844851.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-526148397497844851.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-526148397497844851.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-526148397497844851.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-526148397497844851.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-526148397497844851.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-526148397497844851.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-526148397497844851.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-526148397497844851.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-526148397497844851.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-526148397497844851.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-526148397497844851.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-526148397497844851.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-526148397497844851.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-526148397497844851.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-526148397497844851.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-526148397497844851.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-526148397497844851.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-526148397497844851.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-526148397497844851.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-526148397497844851.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-526148397497844851.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-526148397497844851.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-526148397497844851.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-526148397497844851.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-526148397497844851.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-526148397497844851.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-526148397497844851.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-526148397497844851.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-526148397497844851.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-526148397497844851.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-526148397497844851.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-526148397497844851.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-526148397497844851.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-526148397497844851.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-526148397497844851.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-526148397497844851.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-526148397497844851.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-526148397497844851.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-526148397497844851.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-526148397497844851.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-526148397497844851.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-526148397497844851.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-526148397497844851 .focus\:\!gp-shadow-none,.gps-526148397497844851 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-526148397497844851 .\!gp-g-s-medium{padding:8px 24px!important}.gps-526148397497844851 .gp-fixed{position:fixed}.gps-526148397497844851 .gp-absolute{position:absolute}.gps-526148397497844851 .gp-relative{position:relative}.gps-526148397497844851 .gp-top-\[27px\]{top:27px}.gps-526148397497844851 .gp-z-1{z-index:1}.gps-526148397497844851 .gp-z-100{z-index:100}.gps-526148397497844851 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-526148397497844851 .gp-mb-0{margin-bottom:0}.gps-526148397497844851 .gp-flex{display:flex}.gps-526148397497844851 .gp-inline-flex{display:inline-flex}.gps-526148397497844851 .gp-grid{display:grid}.gps-526148397497844851 .\!gp-hidden{display:none!important}.gps-526148397497844851 .gp-hidden{display:none}.gps-526148397497844851 .\!gp-h-auto{height:auto!important}.gps-526148397497844851 .gp-h-full{height:100%}.gps-526148397497844851 .gp-w-full{width:100%}.gps-526148397497844851 .gp-max-w-full{max-width:100%}.gps-526148397497844851 .gp-flex-col{flex-direction:column}.gps-526148397497844851 .gp-items-center{align-items:center}.gps-526148397497844851 .\!gp-justify-center{justify-content:center!important}.gps-526148397497844851 .gp-justify-center{justify-content:center}.gps-526148397497844851 .gp-gap-y-0{row-gap:0}.gps-526148397497844851 .gp-overflow-hidden{overflow:hidden}.gps-526148397497844851 .gp-break-words{overflow-wrap:break-word}.gps-526148397497844851 .gp-rounded{border-radius:4px}.gps-526148397497844851 .gp-rounded-none{border-radius:0}.gps-526148397497844851 .\!gp-bg-none{background-image:none!important}.gps-526148397497844851 .gp-p-\[16px\]{padding:16px}.gps-526148397497844851 .gp-text-\[14px\]{font-size:14px}.gps-526148397497844851 .gp-leading-normal{line-height:1.5}.gps-526148397497844851 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-526148397497844851 .gp-no-underline{text-decoration-line:none}.gps-526148397497844851 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-526148397497844851 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-526148397497844851 .gp-duration-200{transition-duration:.2s}.gps-526148397497844851 .gp-duration-300{transition-duration:.3s}.gps-526148397497844851 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-526148397497844851 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-526148397497844851 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-526148397497844851 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-526148397497844851 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-526148397497844851 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-526148397497844851 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-526148397497844851 .tablet\:gp-absolute{position:absolute}.gps-526148397497844851 .tablet\:\!gp-hidden{display:none!important}.gps-526148397497844851 .tablet\:gp-hidden{display:none}.gps-526148397497844851 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-526148397497844851 .mobile\:gp-relative{position:relative}.gps-526148397497844851 .mobile\:\!gp-hidden{display:none!important}.gps-526148397497844851 .mobile\:gp-hidden{display:none}.gps-526148397497844851 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-526148397497844851 .mobile\:\!gp-justify-center,.gps-526148397497844851 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-526148397497844851 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-526148397497844851 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gCZucRS3Zv"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:none;--d-tablet:none;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--op-mobile:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCZucRS3Zv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYvefgC8VQ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--d:none;--d-tablet:none;--d-mobile:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-1d2c098e-52fa-4903-ade9-d2b1d806b5aa.png?v=1723132156","width":1366,"height":768,"backupFileKey":"gempages_508783848931197844-1d2c098e-52fa-4903-ade9-d2b1d806b5aa.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false},"tablet":{"image":{"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/"},"color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false,"type":"image"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-adec0003-e3de-43a7-85ff-0ed5de643e5b.jpg?v=1723135715","width":1080,"height":1920,"backupFileKey":"gempages_508783848931197844-adec0003-e3de-43a7-85ff-0ed5de643e5b.jpg","storage":"FILE_CONTENT"},"color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false,"type":"image"}},"uid":"gD4wY5zkoi","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[8,4],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        
        class="gD4wY5zkoi gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:none;--d-tablet:none;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--op-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_508783848931197844-adec0003-e3de-43a7-85ff-0ed5de643e5b.jpg" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_508783848931197844-1d2c098e-52fa-4903-ade9-d2b1d806b5aa.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1366/768;--aspect-tablet:undefined/undefined;--aspect-mobile:1080/1920;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-adec0003-e3de-43a7-85ff-0ed5de643e5b.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-1d2c098e-52fa-4903-ade9-d2b1d806b5aa.png" | file_url }}"
        alt=""
        style="--aspect:1366/768;--aspect-tablet:undefined/undefined;--aspect-mobile:1080/1920;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-1d2c098e-52fa-4903-ade9-d2b1d806b5aa.png?v=1723132156);--bgi-tablet:url(https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-adec0003-e3de-43a7-85ff-0ed5de643e5b.jpg?v=1723135715);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:0"
      class="gC6JNPp93m gp-relative gp-flex gp-flex-col"
    >
      <div style="--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:80px;--pr-mobile:var(--g-s-l);--radius:var(--g-radius-none);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--op-mobile:100%" class="g8EQ_cUY13 ">
      
    <gp-form
      id="g8EQ_cUY13"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g8EQ_cUY13"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-g8EQ_cUY13 ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g8EQ_cUY13"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ "sections.gp-global-section-526148397497844851.gg8EQ_cUY13_errorMessage_html" | t }}
          </div>
        {% endif %}
        <div
          id="gp-form-success-g8EQ_cUY13"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ "sections.gp-global-section-526148397497844851.gg8EQ_cUY13_successMessage_html" | t }}
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gij9bBDUxl"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gij9bBDUxl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g65p1rNtrd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="g1zdICXO1p"
      style="--d:none;--d-tablet:none;--d-mobile:block;--op:100%;--op-mobile:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--ff:var(--g-font-Futura-Book-font, 'Futura Book font'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--w:313px;--w-tablet:313px;--w-mobile:100%;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none"
        placeholder="{{ "sections.gp-global-section-526148397497844851.gg1zdICXO1p_placeholder_html" | t }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gEV3CunueN gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--op-mobile:100%;--ta:left"
    class=""
  >
    <style>
    .gYH-2T035a.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px;
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
      
    }

    .gYH-2T035a:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
    }

    .gYH-2T035a:hover .gp-button-icon {
      color: undefined;
    }

     .gYH-2T035a .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gYH-2T035a:hover .gp-button-price {
      color: undefined;
    }

    .gYH-2T035a .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gYH-2T035a .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gYH-2T035a:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gYH-2T035a" aria-label="Enviar"
      
      data-state="idle"
      class="gYH-2T035a gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--bg:#4f4f4f;--hvr-bg:#6EFFDC;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Futura-Book-font, 'Futura Book font'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style=""
      >
        {{ "sections.gp-global-section-526148397497844851.ggYH-2T035a_label_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--d-mobile:none"
      class="gj48nObPL6 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    "presets": [{ "name": "movil" }],
    "name": "movil",
    "tag": "section",
    "class": "gps-526148397497844851 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=526148397497844851)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"}],
    "blocks": [{"type": "@app"}],
    "locales": {"es":{"gg8EQ_cUY13_successMessage_html":"Thanks for contacting us. We'll get back to you as soon as possible.","gg8EQ_cUY13_errorMessage_html":"Can’t send email. Please try again later.","gg1zdICXO1p_placeholder_html":"Email","ggYH-2T035a_label_html":"Enviar"}}
  }
{% endschema %}
