

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485761708885.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485761708885.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485761708885.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541113485761708885.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485761708885.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485761708885.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485761708885.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485761708885.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485761708885.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485761708885.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485761708885.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541113485761708885.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541113485761708885.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485761708885.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541113485761708885.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541113485761708885.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-541113485761708885.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485761708885.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541113485761708885.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541113485761708885.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541113485761708885.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485761708885.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485761708885.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485761708885.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-541113485761708885.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485761708885.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485761708885.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485761708885.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485761708885.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485761708885.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485761708885.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485761708885.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485761708885.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485761708885.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485761708885.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485761708885.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485761708885.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541113485761708885.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-541113485761708885.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541113485761708885.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485761708885.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485761708885.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485761708885.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485761708885.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485761708885.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485761708885.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485761708885.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485761708885.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485761708885.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485761708885.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485761708885.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485761708885.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485761708885.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485761708885.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-541113485761708885.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485761708885.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-541113485761708885.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485761708885.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-541113485761708885.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-541113485761708885.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-541113485761708885.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485761708885.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485761708885.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485761708885.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485761708885.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-541113485761708885.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485761708885.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485761708885.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485761708885.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485761708885.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541113485761708885.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485761708885.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-541113485761708885.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485761708885.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541113485761708885.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541113485761708885.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-541113485761708885.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-541113485761708885.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485761708885.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485761708885.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485761708885.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485761708885.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-541113485761708885.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485761708885.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485761708885 .gp-relative{position:relative}.gps-541113485761708885 .gp-z-1{z-index:1}.gps-541113485761708885 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485761708885 .gp-mb-0{margin-bottom:0}.gps-541113485761708885 .gp-flex{display:flex}.gps-541113485761708885 .gp-inline-flex{display:inline-flex}.gps-541113485761708885 .gp-grid{display:grid}.gps-541113485761708885 .gp-contents{display:contents}.gps-541113485761708885 .\!gp-hidden{display:none!important}.gps-541113485761708885 .gp-hidden{display:none}.gps-541113485761708885 .gp-h-full{height:100%}.gps-541113485761708885 .gp-w-full{width:100%}.gps-541113485761708885 .gp-max-w-full{max-width:100%}.gps-541113485761708885 .gp-flex-col{flex-direction:column}.gps-541113485761708885 .gp-flex-wrap{flex-wrap:wrap}.gps-541113485761708885 .gp-items-center{align-items:center}.gps-541113485761708885 .gp-justify-center{justify-content:center}.gps-541113485761708885 .gp-gap-y-0{row-gap:0}.gps-541113485761708885 .gp-overflow-hidden{overflow:hidden}.gps-541113485761708885 .gp-break-words{overflow-wrap:break-word}.gps-541113485761708885 .gp-rounded-none{border-radius:0}.gps-541113485761708885 .gp-text-center{text-align:center}.gps-541113485761708885 .gp-no-underline{text-decoration-line:none}.gps-541113485761708885 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485761708885 .gp-duration-200{transition-duration:.2s}.gps-541113485761708885 .gp-duration-300{transition-duration:.3s}.gps-541113485761708885 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485761708885 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541113485761708885 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541113485761708885 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541113485761708885 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-541113485761708885 .tablet\:\!gp-hidden{display:none!important}.gps-541113485761708885 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541113485761708885 .mobile\:\!gp-hidden{display:none!important}.gps-541113485761708885 .mobile\:gp-hidden{display:none}}.gps-541113485761708885 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485761708885 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485761708885 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541113485761708885 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485761708885 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gn0jiijzri" data-id="gn0jiijzri"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn0jiijzri gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqgu2QIRGI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gnSsMLiWen" data-id="gnSsMLiWen"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnSsMLiWen gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--o:1;--o-mobile:0"
      class="gCd0pq8tmd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1di7g18Xz" data-id="g1di7g18Xz"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:56px;--mb-mobile:49px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1di7g18Xz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gurheYWZgU gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gTUXyiAo9b">
    <div
      parentTag="Col"
        class="gTUXyiAo9b "
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTUXyiAo9b_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gVK6id48mi">
    <div
      parentTag="Col"
        class="gVK6id48mi "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggVK6id48mi_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtBXuIFuuL gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right"
    
  >
    <style>
    .gD8mqacD2-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gD8mqacD2-:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
    }

    .gD8mqacD2-:hover .gp-button-icon {
      color: #242424;
    }

     .gD8mqacD2- .gp-button-icon {
      color: #242424;
    }

    .gD8mqacD2-:hover .gp-button-price {
      color: #242424;
    }

    .gD8mqacD2- .gp-button-price {
      color: #242424;
    }

    .gD8mqacD2- .gp-product-dot-price {
       color: #242424;
    }

    .gD8mqacD2-:hover .gp-product-dot-price {
      color: #242424;
    }
  </style>
    <a
      href="#" target="_self" data-id="gD8mqacD2-" aria-label="Follow us on Instagram"
      
      data-state="idle"
      class="gD8mqacD2- gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:53px;--pr:53px;--pt:11px;--pb:11px;--pl-tablet:53px;--pr-tablet:53px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9.5px;--pb-mobile:9.5px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#242424;--c:#242424;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggD8mqacD2-_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gqHLKU9Z-o" data-id="gqHLKU9Z-o"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqHLKU9Z-o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6UgcutiD5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gzx0ESs9Dz"
    role="presentation"
    class="gp-group/image gzx0ESs9Dz"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:14px;--mb-tablet:16px;--ta:left;--ta-tablet:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-tablet:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-9e0af396-e819-4ef7-925d-4214e771ff57_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-9e0af396-e819-4ef7-925d-4214e771ff57_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-9e0af396-e819-4ef7-925d-4214e771ff57.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:370/484;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:370px;--w-tablet:737px;--w-mobile:344px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gY1LP0H8w7 gp-relative gp-flex gp-flex-col"
    >
      
    
      
      
    <div
    data-id="gV7LKvOKz1"
      
      data-id="gV7LKvOKz1"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:16px;--jc:center;--jc-tablet:center;--jc-mobile:center">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gk--ivSTZ0 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gzvMVZpnvh"
    role="presentation"
    class="gp-group/image gzvMVZpnvh"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:30px;--mb-mobile:14px;--mb-tablet:16px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-6b345db1-7817-4dfd-b276-17043794fb4c_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-6b345db1-7817-4dfd-b276-17043794fb4c_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-6b345db1-7817-4dfd-b276-17043794fb4c.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g70bxljQPy ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gP1YYQ65CO"
    role="presentation"
    class="gp-group/image gP1YYQ65CO"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:14px;--mb:30px;--mr:14px;--ml-mobile:0px;--mb-mobile:14px;--mr-mobile:0px;--ml-tablet:0px;--mb-tablet:16px;--mr-tablet:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-42f03645-0646-4b79-b43b-d89ef7713781_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-42f03645-0646-4b79-b43b-d89ef7713781_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-42f03645-0646-4b79-b43b-d89ef7713781.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gazLtCrtLy ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gtequKP-o5"
    role="presentation"
    class="gp-group/image gtequKP-o5"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:30px;--mb-mobile:14px;--mb-tablet:16px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-523baf2d-ab37-4415-9acf-485b82bed197_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-523baf2d-ab37-4415-9acf-485b82bed197_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-523baf2d-ab37-4415-9acf-485b82bed197.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gUxpvOlVsk ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="giv6_H-BPz"
    role="presentation"
    class="gp-group/image giv6_H-BPz"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:14px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-af953072-963b-4b1e-ab7e-9640003932fe_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-af953072-963b-4b1e-ab7e-9640003932fe_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-af953072-963b-4b1e-ab7e-9640003932fe.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gns6KeKrq7 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gXVF876wUj"
    role="presentation"
    class="gp-group/image gXVF876wUj"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:14px;--mr:14px;--ml-mobile:0px;--mr-mobile:0px;--ml-tablet:0px;--mr-tablet:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-bf82f275-31dd-4df5-836c-91af8a9e3f10_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-bf82f275-31dd-4df5-836c-91af8a9e3f10_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-bf82f275-31dd-4df5-836c-91af8a9e3f10.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gEW6pxEYJj ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
    
     data-id="gZj3uwvG60"
    role="presentation"
    class="gp-group/image gZj3uwvG60"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-dba3205e-a09d-4c66-b230-7e4d3432c6b8_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-dba3205e-a09d-4c66-b230-7e4d3432c6b8_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-dba3205e-a09d-4c66-b230-7e4d3432c6b8.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:237/227;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:237px;--w-tablet:235px;--w-mobile:164px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-541113485761708885 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485761708885)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTUXyiAo9b_text","label":"ggTUXyiAo9b_text","default":"<p>Join our community</p>"},{"type":"html","id":"ggVK6id48mi_text","label":"ggVK6id48mi_text","default":"<p>Follow us on <strong>@gemlab.beauty</strong> and use the hashtag #gemlab to be featured</p>"},{"type":"html","id":"ggD8mqacD2-_label","label":"ggD8mqacD2-_label","default":"Follow us on Instagram"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
