

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485392610130.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485392610130.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485392610130.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541113485392610130.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485392610130.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485392610130.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485392610130.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485392610130.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485392610130.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485392610130.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485392610130.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541113485392610130.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541113485392610130.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485392610130.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541113485392610130.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541113485392610130.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-541113485392610130.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485392610130.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541113485392610130.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541113485392610130.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541113485392610130.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485392610130.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485392610130.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485392610130.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-541113485392610130.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485392610130.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485392610130.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485392610130.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485392610130.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485392610130.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485392610130.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485392610130.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485392610130.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485392610130.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485392610130.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485392610130.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485392610130.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541113485392610130.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-541113485392610130.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-541113485392610130.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541113485392610130.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485392610130.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485392610130.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485392610130.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485392610130.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485392610130.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485392610130.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485392610130.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485392610130.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485392610130.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-541113485392610130.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485392610130.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485392610130.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485392610130.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485392610130.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485392610130.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485392610130.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-541113485392610130.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485392610130.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-541113485392610130.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-541113485392610130.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-541113485392610130.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-541113485392610130.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485392610130.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485392610130.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485392610130.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485392610130.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485392610130.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485392610130.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485392610130.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485392610130.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541113485392610130.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485392610130.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485392610130.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541113485392610130.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541113485392610130.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-541113485392610130.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-541113485392610130.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485392610130.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485392610130.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485392610130.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485392610130.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485392610130.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485392610130 .gp-relative{position:relative}.gps-541113485392610130 .gp-z-1{z-index:1}.gps-541113485392610130 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485392610130 .gp-mb-0{margin-bottom:0}.gps-541113485392610130 .gp-flex{display:flex}.gps-541113485392610130 .gp-inline-flex{display:inline-flex}.gps-541113485392610130 .gp-grid{display:grid}.gps-541113485392610130 .gp-contents{display:contents}.gps-541113485392610130 .\!gp-hidden{display:none!important}.gps-541113485392610130 .gp-hidden{display:none}.gps-541113485392610130 .gp-h-full{height:100%}.gps-541113485392610130 .gp-w-full{width:100%}.gps-541113485392610130 .gp-max-w-full{max-width:100%}.gps-541113485392610130 .gp-flex-col{flex-direction:column}.gps-541113485392610130 .gp-items-center{align-items:center}.gps-541113485392610130 .gp-justify-center{justify-content:center}.gps-541113485392610130 .gp-gap-y-0{row-gap:0}.gps-541113485392610130 .gp-overflow-hidden{overflow:hidden}.gps-541113485392610130 .gp-break-words{overflow-wrap:break-word}.gps-541113485392610130 .gp-rounded-none{border-radius:0}.gps-541113485392610130 .gp-text-center{text-align:center}.gps-541113485392610130 .gp-no-underline{text-decoration-line:none}.gps-541113485392610130 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485392610130 .gp-duration-200{transition-duration:.2s}.gps-541113485392610130 .gp-duration-300{transition-duration:.3s}.gps-541113485392610130 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485392610130 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541113485392610130 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541113485392610130 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541113485392610130 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-541113485392610130 .tablet\:\!gp-hidden{display:none!important}.gps-541113485392610130 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541113485392610130 .mobile\:\!gp-hidden{display:none!important}.gps-541113485392610130 .mobile\:gp-hidden{display:none}}.gps-541113485392610130 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485392610130 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485392610130 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541113485392610130 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485392610130 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSNu3rnu_W" data-id="gSNu3rnu_W"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSNu3rnu_W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMIyc095W- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRgaviq_YK" data-id="gRgaviq_YK"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--mb-mobile:0px;--pt-mobile:72px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRgaviq_YK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVk6R_16EZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gaOdFUvyTu" data-id="gaOdFUvyTu"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pb:var(--g-s-2xl);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaOdFUvyTu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end"
      class="g33deEWBsC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gpxKMUxnVJ" data-id="gpxKMUxnVJ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-2xl);--ml:auto;--mb:var(--g-s-2xl);--mr:auto;--pr:86px;--mt-mobile:auto;--ml-mobile:auto;--mb-mobile:49px;--mr-mobile:auto;--pr-mobile:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:var(--g-s-2xl);--mr-tablet:auto;--pr-tablet:14px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:556px;--w-tablet:100%;--w-mobile:100%;--bgc:#e5fff9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpxKMUxnVJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjWOYtOE2A gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gLbQdaT4-p">
    <div
      parentTag="Col"
        class="gLbQdaT4-p "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:44px;--size-mobile:44px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLbQdaT4-p_text }}</h1>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g_JKCjJb1T">
    <div
      parentTag="Col"
        class="g_JKCjJb1T "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_JKCjJb1T_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--pb:var(--g-s-m);--ta:center"
    
  >
    <style>
    .gHz28Ew-jK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gHz28Ew-jK:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #424242;
  
      
    }

    .gHz28Ew-jK:hover .gp-button-icon {
      color: #121212;
    }

     .gHz28Ew-jK .gp-button-icon {
      color: #FFFFFF;
    }

    .gHz28Ew-jK:hover .gp-button-price {
      color: #121212;
    }

    .gHz28Ew-jK .gp-button-price {
      color: #FFFFFF;
    }

    .gHz28Ew-jK .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gHz28Ew-jK:hover .gp-product-dot-price {
      color: #121212;
    }
  </style>
    <a
      href="#" target="_self" data-id="gHz28Ew-jK" aria-label="<p>Ver nuestros productos</p>"
      
      data-state="idle"
      class="gHz28Ew-jK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#ffffff;--bg:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--pl:48px;--pr:48px;--pt:11px;--pb:11px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9.5px;--pb-mobile:9.5px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#121212;--c:#FFFFFF;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggHz28Ew-jK_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end"
      class="g743MHJVGO gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guwM5uIk-r"
    role="presentation"
    class="gp-group/image guwM5uIk-r"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-9f4ef93b-a710-4c94-9ca0-b891b22b797b_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-9f4ef93b-a710-4c94-9ca0-b891b22b797b_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-9f4ef93b-a710-4c94-9ca0-b891b22b797b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3047/1714;--aspect-tablet:3047/1714;--aspect-mobile:3047/1714;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-541113485392610130 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485392610130)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLbQdaT4-p_text","label":"ggLbQdaT4-p_text","default":"La esencia de la naturaleza en tu mirada"},{"type":"html","id":"gg_JKCjJb1T_text","label":"gg_JKCjJb1T_text","default":"<p>En <strong>Puravida Lash</strong>, combinamos la pureza de ingredientes naturales con la excelencia en cada producto. Cuidamos de tu belleza y realzamos tu mirada con el equilibrio perfecto entre arte y naturaleza</p>"},{"type":"html","id":"ggHz28Ew-jK_label","label":"ggHz28Ew-jK_label","default":"<p>Ver nuestros productos</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
