

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-512116323703063688.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-512116323703063688.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-512116323703063688.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-512116323703063688.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-512116323703063688.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-512116323703063688.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-512116323703063688.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-512116323703063688.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-512116323703063688.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-512116323703063688.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-512116323703063688.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-512116323703063688.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-512116323703063688.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-512116323703063688.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-512116323703063688.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-512116323703063688.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-512116323703063688.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-512116323703063688.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-512116323703063688.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-512116323703063688.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-512116323703063688.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-512116323703063688.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-512116323703063688.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-512116323703063688.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-512116323703063688.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-512116323703063688.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-512116323703063688.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-512116323703063688.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-512116323703063688.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-512116323703063688.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-512116323703063688.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-512116323703063688.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-512116323703063688.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-512116323703063688.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-512116323703063688.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-512116323703063688.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-512116323703063688.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-512116323703063688.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-512116323703063688.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-512116323703063688.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-512116323703063688.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-512116323703063688.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-512116323703063688.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-512116323703063688.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-512116323703063688.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-512116323703063688.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-512116323703063688.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-512116323703063688.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-512116323703063688.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-512116323703063688 .gp-relative{position:relative}.gps-512116323703063688 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512116323703063688 .gp-mb-0{margin-bottom:0}.gps-512116323703063688 .gp-flex{display:flex}.gps-512116323703063688 .gp-grid{display:grid}.gps-512116323703063688 .\!gp-hidden{display:none!important}.gps-512116323703063688 .gp-hidden{display:none}.gps-512116323703063688 .gp-max-w-full{max-width:100%}.gps-512116323703063688 .gp-flex-col{flex-direction:column}.gps-512116323703063688 .gp-gap-y-0{row-gap:0}.gps-512116323703063688 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512116323703063688 .gp-duration-200{transition-duration:.2s}.gps-512116323703063688 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-512116323703063688 .tablet\:\!gp-hidden{display:none!important}.gps-512116323703063688 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512116323703063688 .mobile\:\!gp-hidden{display:none!important}.gps-512116323703063688 .mobile\:gp-hidden{display:none}}.gps-512116323703063688 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512116323703063688 .\[\&_p\]\:gp-inline p{display:inline}.gps-512116323703063688 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-512116323703063688 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gX9wocqfQT" data-id="gX9wocqfQT"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX9wocqfQT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwkvBRqCUO gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gwdZKQ3HrL">
    <div
      parentTag="Col"
        class="gwdZKQ3HrL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwdZKQ3HrL_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gwdZKQ3HrL">
        .gwdZKQ3HrL {

}
.gwdZKQ3HrL p {

}
      </style>
    
  <gp-text data-id="gAGXClU4D5">
    <div
      parentTag="Col"
        class="gAGXClU4D5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAGXClU4D5_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAGXClU4D5">
        .gAGXClU4D5 {

}
.gAGXClU4D5 p {

}
      </style>
    
  <gp-text data-id="g7CtnyTCbh">
    <div
      parentTag="Col"
        class="g7CtnyTCbh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7CtnyTCbh_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7CtnyTCbh">
        .g7CtnyTCbh {

}
.g7CtnyTCbh p {

}
      </style>
    
  <gp-text data-id="gVe_lyGMUG">
    <div
      parentTag="Col"
        class="gVe_lyGMUG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVe_lyGMUG_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gVe_lyGMUG">
        .gVe_lyGMUG {

}
.gVe_lyGMUG p {

}
      </style>
    
  <gp-text data-id="gh7mAERimf">
    <div
      parentTag="Col"
        class="gh7mAERimf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggh7mAERimf_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gh7mAERimf">
        .gh7mAERimf {

}
.gh7mAERimf p {

}
      </style>
    
  <gp-text data-id="gtCM-jyGi6">
    <div
      parentTag="Col"
        class="gtCM-jyGi6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtCM-jyGi6_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gtCM-jyGi6">
        .gtCM-jyGi6 {

}
.gtCM-jyGi6 p {

}
      </style>
    
  <gp-text data-id="gAuNnMeSEW">
    <div
      parentTag="Col"
        class="gAuNnMeSEW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAuNnMeSEW_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAuNnMeSEW">
        .gAuNnMeSEW {

}
.gAuNnMeSEW p {

}
      </style>
    
  <gp-text data-id="gAaBHQ7bTj">
    <div
      parentTag="Col"
        class="gAaBHQ7bTj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAaBHQ7bTj_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAaBHQ7bTj">
        .gAaBHQ7bTj {

}
.gAaBHQ7bTj p {

}
      </style>
    
  <gp-text data-id="gdFzikSyNv">
    <div
      parentTag="Col"
        class="gdFzikSyNv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdFzikSyNv_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdFzikSyNv">
        .gdFzikSyNv {

}
.gdFzikSyNv p {

}
      </style>
    
  <gp-text data-id="goFEsW0krK">
    <div
      parentTag="Col"
        class="goFEsW0krK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoFEsW0krK_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-goFEsW0krK">
        .goFEsW0krK {

}
.goFEsW0krK p {

}
      </style>
    
  <gp-text data-id="gsUEfT22n-">
    <div
      parentTag="Col"
        class="gsUEfT22n- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsUEfT22n-_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gsUEfT22n-">
        .gsUEfT22n- {

}
.gsUEfT22n- p {

}
      </style>
    
  <gp-text data-id="g8PEWVUW2K">
    <div
      parentTag="Col"
        class="g8PEWVUW2K "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8PEWVUW2K_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8PEWVUW2K">
        .g8PEWVUW2K {

}
.g8PEWVUW2K p {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-512116323703063688 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=512116323619177608&sectionId=512116323703063688)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwdZKQ3HrL_text","label":"ggwdZKQ3HrL_text","default":"<p>La protección de datos es nuestra máxima prioridad. El uso de nuestro sitio web es posible sin ninguna indicación de datos personales; sin embargo, si un sujeto de datos desea utilizar servicios empresariales especiales a través de nuestro sitio web, podría ser necesario el procesamiento de datos personales. Si el procesamiento de datos personales es necesario y no hay una base legal para dicho procesamiento, generalmente obtenemos el consentimiento del sujeto de los datos.</p><p>El procesamiento de datos personales, como el nombre, dirección, correo electrónico o número de teléfono de un sujeto de datos, siempre se realizará de acuerdo con el Reglamento General de Protección de Datos (RGPD), y de acuerdo con las regulaciones de protección de datos específicas del país que nos sean aplicables. Por medio de esta política de protección de datos, nos gustaría informar al público en general sobre la naturaleza, alcance y propósito de los datos personales que recopilamos, utilizamos y procesamos. Además, a través de esta declaración de protección de datos, se informa a los sujetos de datos sobre los derechos que les corresponden.</p><p>Como controladores, hemos implementado numerosas medidas técnicas y organizativas para garantizar la protección más completa de los datos personales que se procesan a través de este sitio web. Sin embargo, las transmisiones de datos basadas en Internet pueden tener, en principio, brechas de seguridad, por lo que no se puede garantizar una protección absoluta.</p><p>&nbsp;</p><p>Nombre y Dirección del controlador</p><p>El controlador a efectos del Reglamento General de Protección de Datos (RGPD), otras leyes de protección de datos aplicables en los Estados miembros de la Unión Europea y otras disposiciones relacionadas con la protección de datos es:</p><p>Pura Vida<br>Avenida Sánchez Pizjuan 18, Sevilla<br>España</p><p><a href=\"mailto:puravidaestetica@outlook.es\">puravidaestetica@outlook.es</a></p><p>&nbsp;</p><p>Marketing por texto y notificaciones</p><p>Al ingresar tu número de teléfono y dirección de correo electrónico en el formulario emergente de suscripción, aceptas que podemos enviarte notificaciones por texto o correos electrónicos (para tu pedido, incluyendo recordatorios de carrito abandonado) y ofertas de marketing por texto o correo electrónico. Reconoces que el consentimiento no es una condición para ninguna compra.</p><p>Si deseas darte de baja para no recibir mensajes de marketing por texto y notificaciones, responde con el texto que se proporciona en el SMS. Entiendes y aceptas que otros métodos de exclusión, como el uso de palabras alternativas o solicitudes, no se considerarán como un medio razonable de exclusión. Pueden aplicarse tarifas de mensajes y datos. Contáctenos para más información <a href=\"mailto:puravidaestetica@outlook.es\">puravidaestetica@outlook.es</a></p><p>&nbsp;</p><p>Definiciones</p><p>Esta declaración de protección de datos se basa en los términos utilizados por el legislador europeo para la adopción del Reglamento General de Protección de Datos (RGPD). Nuestra declaración de protección de datos debería ser legible y comprensible para el público en general, así como para nuestros clientes y socios comerciales. Para garantizar esto, nos gustaría explicar primero la terminología utilizada. En esta declaración de protección de datos, utilizamos los siguientes términos:</p><p>&nbsp;</p><p>&nbsp; &nbsp;Datos personales</p><p>Los datos personales se refieren a cualquier información relacionada con una persona identificada naturalmente &nbsp;o identificable (\"sujeto de datos\"). Una persona natural identificable es aquella que puede ser identificada, directa o indirectamente, en particular por referencia a un identificador como un nombre, un número de identificación, datos de ubicación, un identificador en línea o a uno o más factores específicos de la identidad física, fisiológica, genética, mental, económica, cultural o social de esa persona natural.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Sujeto de datos</p><p>El sujeto de datos es cualquier persona natural identificada o identificable, cuyos datos personales son procesados por el controlador responsable del procesamiento.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Procesamiento</p><p>El procesamiento es cualquier operación o conjunto de operaciones que se realiza sobre datos personales o conjuntos de datos personales, ya sea o no por medios automatizados, como la recopilación, registro, organización, estructuración, almacenamiento, adaptación o alteración, recuperación, consulta, uso, divulgación por transmisión, difusión o disponibilidad de otra forma, alineación o combinación, restricción, borrado o destrucción.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Restricción del procesamiento</p><p>La restricción del procesamiento es el marcado de los datos personales almacenados con el objetivo de limitar su procesamiento en el futuro.</p><p>&nbsp;</p>"},{"type":"html","id":"ggAGXClU4D5_text","label":"ggAGXClU4D5_text","default":"<p>&nbsp;Perfilado</p><p>El perfilado significa cualquier forma de procesamiento automatizado de datos personales que consiste en el uso de datos personales para evaluar ciertos aspectos personales relacionados con una persona natural, en particular para analizar o predecir aspectos relacionados con el rendimiento laboral de esa persona natural, situación económica, salud, preferencias personales, intereses, fiabilidad, comportamiento, ubicación o movimientos.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Pseudonimización</p><p>La seudonimización es el procesamiento de datos personales de tal manera que los datos personales ya no puedan atribuirse a un sujeto de datos específico sin el uso de información adicional, siempre que dicha información adicional se mantenga por separado y esté sujeta a medidas técnicas y organizativas para garantizar que los datos personales no se atribuyen a una persona natural identificada o identificable.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Controlador o controlador responsable del procesamiento</p><p>El controlador o controlador responsable del procesamiento es la persona natural o jurídica, autoridad pública, agencia u otro organismo que, solo o conjuntamente con otros, determina los propósitos y medios del procesamiento de datos personales; cuando los propósitos y medios de dicho procesamiento son determinados por la ley de la Unión o del Estado miembro, el controlador o los criterios específicos para su nominación pueden estar previstos por la ley de la Unión o del Estado miembro.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Procesador</p><p>El procesador es una persona natural o jurídica, autoridad pública, agencia u otro organismo que procesa datos personales en nombre del controlador.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Destinatario</p><p>El destinatario es una persona natural o jurídica, autoridad pública, agencia u otro organismo, al que se revelan los datos personales, ya sea un tercero o no. Sin embargo, las autoridades públicas que pueden recibir datos personales en el marco de una investigación particular de acuerdo con la ley de la Unión o del Estado miembro no se considerarán destinatarios; el procesamiento de esos datos por parte de esas autoridades públicas se realizará de acuerdo con las normas de protección de datos aplicables según los propósitos del procesamiento.</p><p>&nbsp;</p><p>&nbsp; &nbsp;Tercera parte</p><p>Tercera parte es una persona física o jurídica, autoridad pública, agencia u organismo distinto del interesado, responsable del tratamiento, encargado del tratamiento y personas que, bajo la autoridad directa del responsable o del encargado del tratamiento, están autorizadas a tratar datos personales.</p><p>&nbsp; &nbsp;Consentimiento</p><p>El consentimiento del sujeto de los datos es cualquier indicación libre, específica, informada e inequívoca de los deseos del sujeto de los datos por la cual él o ella, mediante una declaración o mediante una acción afirmativa clara, significa su acuerdo con el procesamiento de datos personales relacionados con él o ella.</p>"},{"type":"html","id":"gg7CtnyTCbh_text","label":"gg7CtnyTCbh_text","default":"<p>Cookies</p><p>Nuestro sitio web utiliza cookies. Las cookies son archivos de texto que se almacenan en un sistema informático a través de un navegador de Internet.</p><p>Muchos sitios y servidores de Internet utilizan cookies. Muchas cookies contienen un ID de cookie. Un ID de cookie es un identificador único de la cookie. Consiste en una cadena de caracteres a través de la cual las páginas y servidores de Internet pueden asignarse al navegador de Internet específico en el que se almacenó la cookie. Esto permite que los sitios de Internet visitados y los servidores diferencien el navegador individual del sujeto de los datos de otros navegadores de Internet que contienen otras cookies. Un navegador de Internet específico puede ser reconocido e identificado utilizando el ID de cookie único.</p><p>Mediante el uso de cookies, podemos proporcionar a los usuarios de este sitio web servicios más fáciles de usar que no serían posibles sin la configuración de cookies.</p><p>Mediante una cookie, la información y las ofertas en nuestro sitio web pueden ser optimizadas teniendo en cuenta al usuario. Las cookies nos permiten, como se mencionó anteriormente, reconocer a los usuarios de nuestro sitio web. El propósito de este reconocimiento es facilitar a los usuarios la utilización de nuestro sitio web. El usuario del sitio web que utiliza cookies, por ejemplo, no tiene que introducir los datos de acceso cada vez que se accede al sitio web, porque esto es asumido por el sitio web, y la cookie se almacena así en el sistema informático del usuario. Otro ejemplo es la cookie de un carrito de compras en una tienda en línea. La tienda en línea recuerda los artículos que un cliente ha puesto en el carrito de compras virtual a través de una cookie.</p><p>El sujeto de los datos puede, en cualquier momento, impedir la configuración de cookies en nuestro sitio web mediante una configuración correspondiente del navegador de Internet utilizado, y así denegar permanentemente la configuración de cookies. Además, las cookies ya configuradas pueden ser eliminadas en cualquier momento a través de un navegador de Internet u otros programas de software. Esto es posible en todos los navegadores de Internet populares. Si el sujeto de los datos desactiva la configuración de cookies en el navegador de Internet utilizado, es posible que no todas las funciones de nuestro sitio web sean completamente utilizables.</p><p>Recolección de datos e información general</p><p>Nuestro sitio web recopila una serie de datos e información general cuando un sujeto de datos o un sistema automatizado accede al sitio web. Estos datos e información general se almacenan en los archivos de registro del servidor. Se puede recopilar: (1) los tipos y versiones de navegadores utilizados, (2) el sistema operativo utilizado por el sistema que accede, (3) el sitio web desde el cual un sistema accede a nuestro sitio web (los llamados referentes), (4) los sub-sitios web, (5) la fecha y hora de acceso al sitio web, (6) una dirección de protocolo de Internet (dirección IP), (7) el proveedor de servicios de Internet del sistema que accede, y (8) cualquier otro dato e información similar que pueda ser utilizada en caso de ataques a nuestros sistemas de tecnología de la información.</p><p>Al usar estos datos e información generales, no sacamos ninguna conclusión sobre el sujeto de los datos. Más bien, esta información es necesaria para (1) entregar el contenido de nuestro sitio web correctamente, (2) optimizar el contenido de nuestro sitio web y su publicidad, (3) garantizar la viabilidad a largo plazo de nuestros sistemas de tecnología de la información y tecnología del sitio web, y (4) proporcionar a las autoridades encargadas de hacer cumplir la ley la información necesaria para la persecución penal en caso de un ataque cibernético. Por lo tanto, analizamos los datos e información recogidos de forma anónima de manera estadística, con el objetivo de aumentar la protección de datos y la seguridad de datos de nuestra empresa, y garantizar un nivel óptimo de protección para los datos personales que procesamos. Los datos anónimos de los archivos de registro del servidor se almacenan por separado de todos los datos personales proporcionados por un sujeto de datos.</p>"},{"type":"html","id":"ggVe_lyGMUG_text","label":"ggVe_lyGMUG_text","default":"<p>Derechos del interesado</p><p>&nbsp;</p><p>&nbsp; &nbsp;Derecho de confirmación</p><p>Cada sujeto de los datos tendrá el derecho otorgado por el legislador europeo de obtener del controlador la confirmación de si se están procesando o no los datos personales que le conciernen. Si un sujeto de los datos desea hacer uso de este derecho de confirmación, puede, en cualquier momento, ponerse en contacto con cualquier empleado del controlador.</p><p>&nbsp; &nbsp;Derecho de acceso</p><p>Cada interesado tendrá el derecho concedido por el legislador europeo de obtener del responsable del tratamiento información gratuita sobre sus datos personales almacenados en cualquier momento y una copia de esta información. Además, las directivas y reglamentos europeos conceden al interesado acceso a la siguiente información:</p><p>&nbsp; &nbsp;Los fines del tratamiento.<br>&nbsp; &nbsp;Las categorías de datos personales en cuestión.<br>&nbsp; &nbsp;Los destinatarios o categorías de destinatarios a los que se han comunicado o se comunicarán los datos personales, en particular los destinatarios en terceros países u organizaciones internacionales.<br>&nbsp; &nbsp;Cuando sea posible, el periodo previsto de conservación de los datos personales o, si no es posible, los criterios utilizados para determinar este periodo.<br>&nbsp; &nbsp;La existencia del derecho a solicitar al responsable del tratamiento la rectificación o supresión de los datos personales, o la limitación del tratamiento de los datos personales relativos al interesado, o a oponerse a dicho tratamiento.&nbsp;<br>&nbsp; &nbsp;La existencia del derecho a presentar una reclamación ante una autoridad de control.<br>&nbsp; &nbsp;Cuando los datos personales no se hayan obtenido del interesado, cualquier información disponible sobre su origen.<br>&nbsp; &nbsp;La existencia de decisiones automatizadas, incluida la elaboración de perfiles, a que se refiere el artículo 22(1) y (4) del GDPR y, al menos en estos casos, información significativa sobre la lógica aplicada, así como la importancia y las consecuencias previstas de dicho tratamiento para el interesado.</p><p>Además, el interesado tiene derecho a obtener información sobre si los datos personales se transfieren a un tercer país o a una organización internacional. Cuando este sea el caso, el interesado tiene derecho a ser informado de las garantías apropiadas relacionadas con la transferencia.</p><p>Si un interesado desea ejercer este derecho de acceso, puede, en cualquier momento, ponerse en contacto con cualquier empleado del controlador.</p><p>&nbsp; &nbsp;Derecho de rectificación</p><p>Cada sujeto de datos tendrá el derecho concedido por el legislador europeo a obtener del controlador sin demora indebida la rectificación de los datos personales inexactos que le conciernen. Teniendo en cuenta los fines del procesamiento, el sujeto de los datos tendrá el derecho de completar los datos personales incompletos, incluso mediante la provisión de una declaración suplementaria.</p><p>Si un sujeto de datos desea ejercer este derecho de rectificación, él o ella puede, en cualquier momento, ponerse en contacto con cualquier empleado del controlador.</p><p>&nbsp; &nbsp;Derecho al olvido (Derecho a ser olvidado)</p>"},{"type":"html","id":"ggh7mAERimf_text","label":"ggh7mAERimf_text","default":"<p>Cada sujeto de datos tendrá el derecho, otorgado por el legislador europeo, a obtener del controlador la eliminación de los datos personales que le conciernen sin demora indebida, y el controlador tendrá la obligación de borrar los datos personales sin demora indebida cuando se aplique uno de los siguientes motivos, siempre que el procesamiento no sea necesario:</p><p>Los datos personales ya no son necesarios en relación con los fines para los que fueron recogidos o procesados de otra manera. El sujeto de los datos retira el consentimiento en el que se basa el procesamiento según el punto (a) del Artículo 6(1) del GDPR, o el punto (a) del Artículo 9(2) del GDPR, y no existe otro fundamento jurídico para el procesamiento. El sujeto de los datos se opone al procesamiento de acuerdo con el Artículo 21(1) del GDPR y no existen motivos legítimos imperantes para el procesamiento, o el sujeto de los datos se opone al procesamiento de acuerdo con el Artículo 21(2) del GDPR. Los datos personales han sido procesados ilegalmente. Los datos personales deben ser borrados para cumplir con una obligación legal en la legislación de la Unión o del Estado miembro a la que está sujeto el controlador. Los datos personales han sido recogidos en relación con la oferta de servicios de la sociedad de la información a que se refiere el Artículo 8(1) del GDPR.</p><p>Si se aplica uno de los motivos mencionados anteriormente, y un sujeto de los datos desea solicitar la eliminación de los datos personales almacenados por nosotros, él o ella puede, en cualquier momento, ponerse en contacto con cualquier empleado del controlador. Un empleado se asegurará prontamente de que la solicitud de eliminación se cumpla inmediatamente.</p><p>Dónde el controlador ha hecho públicos los datos personales y está obligado según el Artículo 17(1) a borrar los datos personales, el controlador, teniendo en cuenta la tecnología disponible y el costo de implementación, debe tomar medidas razonables, incluyendo medidas técnicas, para informar a otros controladores que procesan los datos personales que el sujeto de los datos ha solicitado el borrado por dichos controladores de cualquier enlace a, o copia o replicación de, esos datos personales, en la medida en que no se requiera el procesamiento. Un empleado organizará las medidas necesarias en casos individuales</p><p>Cuando el controlador haya hecho públicos los datos personales y esté obligado a eliminarlos de acuerdo con el Artículo 17(1), el controlador, teniendo en cuenta la tecnología disponible y el costo de implementación, tomará medidas razonables, incluyendo medidas técnicas, para informar a otros controladores que procesan los datos personales que el sujeto de los datos ha solicitado a dichos controladores la eliminación de cualquier enlace a, o copia o replicación de, esos datos personales, siempre que no se requiera el procesamiento. Un empleado organizará las medidas necesarias en casos individuales.</p>"},{"type":"html","id":"ggtCM-jyGi6_text","label":"ggtCM-jyGi6_text","default":"<p>&nbsp; Derecho a la limitación del tratamiento</p><p>Cada sujeto de datos tendrá el derecho otorgado por el legislador europeo de obtener del controlador la limitación del procesamiento cuando se aplique una de las siguientes condiciones:</p><p>La exactitud de los datos personales es impugnada por el sujeto de los datos, por un período que permite al controlador verificar la exactitud de los datos personales. El procesamiento es ilegal y el sujeto de los datos se opone a la eliminación de los datos personales y solicita en su lugar la restricción de su uso. El controlador ya no necesita los datos personales para los fines del procesamiento, pero son requeridos por el sujeto de los datos para el establecimiento, ejercicio o defensa de reclamaciones legales. El sujeto de los datos se ha opuesto al procesamiento de acuerdo con el Artículo 21(1) del GDPR pendiente de la verificación de si los motivos legítimos del controlador prevalecen sobre los del sujeto de los datos. Si se cumple una de las condiciones mencionadas, y un sujeto de los datos desea solicitar la restricción del procesamiento de los datos personales almacenados por nosotros, puede en cualquier momento ponerse en contacto con cualquier empleado del controlador. El empleado organizará la restricción del procesamiento.</p><p>&nbsp; &nbsp;Derecho a la portabilidad de los datos</p><p>Cada sujeto de datos tendrá el derecho otorgado por el legislador europeo de recibir los datos personales que le conciernen, que fueron proporcionados a un controlador, en un formato estructurado, de uso común y legible por máquina. Él o ella tendrá el derecho de transmitir esos datos a otro controlador sin impedimento del controlador al que se han proporcionado los datos personales, siempre que el procesamiento se base en el consentimiento de acuerdo con el punto (a) del Artículo 6(1) del GDPR o el punto (a) del Artículo 9(2) del GDPR, o en un contrato de acuerdo con el punto (b) del Artículo 6(1) del GDPR, y el procesamiento se realice por medios automatizados, siempre que el procesamiento no sea necesario para la ejecución de una tarea realizada en el interés público o en el ejercicio de la autoridad oficial conferida al controlador.</p><p>Además, al ejercer su derecho a la portabilidad de los datos de acuerdo con el Artículo 20(1) del GDPR, el sujeto de los datos tendrá el derecho de que los datos personales se transmitan directamente de un controlador a otro, cuando sea técnicamente factible y siempre que ello no afecte negativamente los derechos y libertades de otros.</p><p>Para hacer valer el derecho a la portabilidad de los datos, el sujeto de los datos puede ponerse en contacto con cualquier empleado en cualquier momento.</p><p>&nbsp; &nbsp;Derecho de oposición</p><p>Cada sujeto de datos tendrá el derecho otorgado por el legislador europeo para oponerse, por razones relacionadas con su situación particular, en cualquier momento, al procesamiento de datos personales que le conciernen, que se basa en el punto (e) o (f) del Artículo 6(1) del GDPR. Esto también se aplica a la elaboración de perfiles basados en estas disposiciones.</p><p>Ya no procesaremos los datos personales en caso de objeción, a menos que podamos demostrar motivos legítimos imperiosos para el procesamiento que prevalezcan sobre los intereses, derechos y libertades del sujeto de los datos, o para el establecimiento, ejercicio o defensa de reclamaciones legales.</p><p>Si procesamos datos personales para fines de marketing directo, el sujeto de los datos tendrá derecho a oponerse en cualquier momento al procesamiento de datos personales que le conciernen para dicho marketing. Esto se aplica a la elaboración de perfiles en la medida en que esté relacionada con dicho marketing directo. Si el sujeto de los datos se opone al procesamiento para fines de marketing directo, ya no procesaremos los datos personales para estos propósitos.</p>"},{"type":"html","id":"ggAuNnMeSEW_text","label":"ggAuNnMeSEW_text","default":"<p>&nbsp;</p><p>La compañía operativa europea de PayPal es PayPal (Europe) S.à.r.l. &amp; Cie. S.C.A., 22-24 Boulevard Royal, 2449 Luxemburgo.</p><p>Si el sujeto de los datos elige \"PayPal\" como la opción de pago en la tienda en línea durante el proceso de pedido, transmitimos automáticamente los datos del sujeto de los datos a PayPal. Al seleccionar esta opción de pago, el sujeto de los datos acepta la transferencia de datos personales necesarios para el procesamiento del pago.</p><p>Los datos personales transmitidos a PayPal son generalmente nombre, apellido, dirección, dirección de correo electrónico, dirección IP, número de teléfono, número de teléfono móvil u otros datos necesarios para el procesamiento del pago. El procesamiento del contrato de compra también requiere dichos datos personales, que están relacionados con el pedido respectivo.</p><p>La transmisión de los datos tiene como objetivo el procesamiento de pagos y la prevención de fraudes. El controlador transferirá datos personales a PayPal, en particular, si existe un interés legítimo en la transmisión. Los datos personales intercambiados entre PayPal y el controlador para el procesamiento de los datos serán transmitidos por PayPal a las agencias de crédito económico. Esta transmisión tiene como objetivo las verificaciones de identidad y solvencia.</p><p>PayPal, si es necesario, transmitirá los datos personales a filiales y proveedores de servicios o subcontratistas en la medida en que esto sea necesario para cumplir con las obligaciones contractuales o para que los datos sean procesados en el pedido.</p><p>El sujeto de los datos tiene la posibilidad de revocar el consentimiento para el manejo de datos personales en cualquier momento de PayPal. Una revocación no tendrá ningún efecto sobre los datos personales que deben ser procesados, utilizados o transmitidos de acuerdo con el procesamiento de pagos (contractual).</p><p>Las disposiciones de protección de datos aplicables de PayPal se pueden obtener en https://www.paypal.com/us/webapps/mpp/ua/privacy-full.</p><p>&nbsp;</p><p>Suscripción al boletín de noticias</p><p>En nuestro sitio web, se ofrece a los usuarios la oportunidad de suscribirse al boletín de nuestra empresa. La máscara de entrada utilizada para este propósito determina qué datos personales se transmiten, así como cuándo se solicita el boletín al controlador.</p><p>Informamos regularmente a nuestros clientes y socios comerciales mediante un boletín sobre las ofertas de la empresa. El boletín de la empresa solo puede ser recibido por el sujeto de los datos si (1) el sujeto de los datos tiene una dirección de correo electrónico válida y (2) el sujeto de los datos se registra para el envío del boletín. Por razones legales, en el procedimiento de doble opt-in, se enviará un correo electrónico de confirmación a la dirección de correo electrónico registrada por un sujeto de los datos por primera vez para el envío del boletín. Este correo electrónico de confirmación se utiliza para comprobar si el propietario de la dirección de correo electrónico como sujeto de los datos está autorizado para recibir el boletín.</p><p>Durante el registro para el boletín, también almacenamos la dirección IP del sistema informático asignado por el proveedor de servicios de Internet (ISP) y utilizado por el sujeto de los datos en el momento del registro, así como la fecha y hora del registro. La recopilación de estos datos es necesaria para entender el (posible) mal uso de la dirección de correo electrónico de un sujeto de los datos en una fecha posterior, y por lo tanto sirve al objetivo de la protección legal del controlador.</p><p>Los datos personales recopilados como parte de un registro para el boletín solo se utilizarán para enviar nuestro boletín. Además, los suscriptores del boletín pueden ser informados por correo electrónico, siempre que esto sea necesario para el funcionamiento del servicio de boletín o un registro en cuestión, como podría ser el caso en el evento de modificaciones a la oferta del boletín, o en el evento de un cambio en circunstancias técnicas. No se realizará ninguna transferencia de datos personales recopilados por el servicio de boletín a terceros. La suscripción a nuestro boletín puede ser terminada por el sujeto de los datos en cualquier momento. El consentimiento para el almacenamiento de datos personales, que el sujeto de los datos ha dado para el envío del boletín, puede ser revocado en cualquier momento. Con el propósito de revocación del consentimiento, se encuentra un enlace correspondiente en cada boletín. También es posible darse de baja del boletín en cualquier momento directamente en el sitio web del controlador, o comunicarlo al controlador de otra manera.</p>"},{"type":"html","id":"ggAaBHQ7bTj_text","label":"ggAaBHQ7bTj_text","default":"<p>Además, el sujeto de los datos tiene el derecho, por razones relacionadas con su situación particular, a oponerse al procesamiento de datos personales que le conciernen para fines de investigación científica o histórica, o para fines estadísticos de acuerdo con el Artículo 89(1) del GDPR, a menos que el procesamiento sea necesario para la realización de una tarea llevada a cabo por razones de interés público.</p><p>Para ejercer el derecho de oposición, el sujeto de los datos puede ponerse en contacto con cualquier empleado. Además, el sujeto de los datos es libre, en el contexto del uso de los servicios de la sociedad de la información, y sin perjuicio de la Directiva 2002/58/CE, de ejercer su derecho de oposición por medios automatizados utilizando especificaciones técnicas.</p><p>&nbsp; &nbsp;Toma de decisiones individuales automatizada, incluyendo la creación de perfiles</p><p>Cada sujeto de los datos tendrá el derecho concedido por el legislador europeo a no ser objeto de una decisión basada únicamente en el procesamiento automatizado, incluyendo la creación de perfiles, que produzca efectos jurídicos que le concierne o que le afecte de manera significativa, siempre y cuando la decisión (1) no sea necesaria para la celebración o ejecución de un contrato entre el sujeto de los datos y un controlador de datos, o (2) no esté autorizada por la ley de la Unión o del Estado miembro a la que está sujeto el controlador y que también establece medidas adecuadas para salvaguardar los derechos y libertades e intereses legítimos del sujeto de los datos, o (3) no se base en el consentimiento explícito del sujeto de los datos.</p><p>Si la decisión (1) es necesaria para la celebración o la ejecución de un contrato entre el sujeto de los datos y el controlador de datos, o (2) se basa en el consentimiento explícito del sujeto de los datos, implementaremos medidas adecuadas para salvaguardar los derechos, libertades e intereses legítimos del sujeto de los datos, al menos el derecho a obtener la intervención humana por parte del controlador, para expresar su punto de vista e impugnar la decisión.</p><p>Si el sujeto de los datos desea ejercer los derechos relacionados con la toma de decisiones individuales automatizada, puede, en cualquier momento, ponerse en contacto con cualquier empleado.</p><p>&nbsp; &nbsp;Derecho a retirar el consentimiento de protección de datos</p><p>Cada sujeto de los datos tendrá el derecho concedido por el legislador europeo para retirar su consentimiento al procesamiento de sus datos personales en cualquier momento.</p><p>Si el sujeto de los datos desea ejercer el derecho a retirar el consentimiento, puede, en</p><p>cualquier momento, ponerse en contacto con cualquier empleado.</p><p>Base legal para el procesamiento</p><p>&nbsp;</p>"},{"type":"html","id":"ggdFzikSyNv_text","label":"ggdFzikSyNv_text","default":"<p>El Art. 6(1) lit. a del RGPD sirve como base legal para las operaciones de procesamiento para las cuales obtenemos el consentimiento para un propósito de procesamiento específico. Si el procesamiento de datos personales es necesario para la ejecución de un contrato al que el sujeto de los datos es parte, como es el caso, por ejemplo, cuando las operaciones de procesamiento son necesarias para el suministro de bienes o para proporcionar cualquier otro servicio, el procesamiento se basa en el Artículo 6(1) lit. b del RGPD. Lo mismo se aplica a dichas operaciones de procesamiento que son necesarias para llevar a cabo medidas precontractuales, por ejemplo, en el caso de consultas sobre nuestros productos o servicios. Si nuestra empresa está sujeta a una obligación legal por la cual se requiere el procesamiento de datos personales, como para el cumplimiento de obligaciones fiscales, el procesamiento se basa en el Art. 6(1) lit. c del RGPD. En casos raros, el procesamiento de datos personales puede ser necesario para proteger los intereses vitales del sujeto de los datos o de otra persona natural. Este sería el caso, por ejemplo, si un visitante resultara herido en nuestra empresa y su nombre, edad, datos de seguro de salud u otra información vital tuviera que ser transmitida a un médico, hospital u otro tercero. Entonces el procesamiento se basaría en el Art. 6(1) lit. d. del RGPD. Finalmente, las operaciones de procesamiento podrían basarse en el Artículo 6(1) lit. f. del RGPD. Esta base legal se utiliza para operaciones de procesamiento que no están cubiertas por ninguno de los motivos legales mencionados anteriormente, si el procesamiento es necesario para los fines de los intereses legítimos perseguidos por nuestra empresa o por un tercero, excepto donde dichos intereses sean anulados por los intereses o derechos y libertades fundamentales del sujeto de los datos que requieran protección de datos personales. Dichas operaciones de procesamiento son particularmente permisibles porque han sido específicamente mencionadas por el legislador europeo. Consideró que se podría asumir un interés legítimo si el sujeto de los datos es un cliente del controlador (Considerando 47 Frase 2 del RGPD).</p><p>Supresión y bloqueo sistemáticos de datos personales</p><p>El controlador de datos procesará y almacenará los datos personales del sujeto de los datos sólo durante el período necesario para alcanzar el propósito del almacenamiento, o en la medida en que esto sea otorgado por el legislador europeo u otros legisladores en leyes o reglamentos a los que está sujeto el controlador.</p><p>Si el propósito del almacenamiento no es aplicable, o si expira un período de almacenamiento prescrito por el legislador europeo u otro legislador competente, los datos personales se bloquean o eliminan de manera rutinaria de acuerdo con los requisitos legales.</p><p>&nbsp;</p>"},{"type":"html","id":"ggoFEsW0krK_text","label":"ggoFEsW0krK_text","default":"<p>Los intereses legítimos perseguidos por el controlador o por un tercero. Cuando el procesamiento de datos personales se basa en el Artículo 6(1) lit. f. del RGPD, nuestro interés legítimo es llevar a cabo nuestro negocio en favor del bienestar de todos nuestros empleados y accionistas. Período durante el cual se almacenarán los datos personales. Los criterios utilizados para determinar el período de almacenamiento de los datos personales es el respectivo período de retención legal. Después de la expiración de ese período, los datos correspondientes se eliminan de manera rutinaria, siempre y cuando ya no sean necesarios para el cumplimiento del contrato o la iniciación de un contrato.</p><p>Provisión de datos personales como requisito legal o contractual; Requisito necesario para celebrar un contrato; Obligación del sujeto de los datos de proporcionar los datos personales; posibles consecuencias de no proporcionar dichos datos.</p><p>Aclaramos que la provisión de datos personales es en parte requerida por la ley (por ejemplo, regulaciones fiscales) o también puede resultar de disposiciones contractuales (por ejemplo, información sobre el socio contractual). A veces puede ser necesario para concluir un contrato que el sujeto de los datos nos proporcione datos personales, que posteriormente debemos procesar. El sujeto de los datos está, por ejemplo, obligado a proporcionarnos datos personales cuando nuestra empresa firma un contrato con él o ella. La no provisión de los datos personales tendría como consecuencia que no se podría concluir el contrato con el sujeto de los datos. Antes de que el sujeto de los datos proporcione los datos personales, el sujeto de los datos debe ponerse en contacto con cualquier empleado.</p><p>El empleado aclara al sujeto de los datos si la provisión de los datos personales es requerida por ley o contrato o es necesaria para la conclusión del contrato, si existe una obligación de proporcionar los datos personales y las consecuencias de no proporcionar los datos personales.</p><p>Método de pago: Disposiciones de protección de datos sobre el uso de PayPal como procesador de pagos</p><p>En este sitio web, el controlador ha integrado componentes de PayPal. PayPal es un proveedor de servicios de pago en línea. Los pagos se procesan a través de cuentas de PayPal, que representan cuentas privadas o de negocios virtuales. PayPal también puede procesar pagos virtuales a través de tarjetas de crédito cuando un usuario no tiene una cuenta de PayPal. Una cuenta de PayPal se gestiona a través de una dirección de correo electrónico, por lo que no hay números de cuenta clásicos. PayPal permite realizar pagos en línea a terceros o recibir pagos. PayPal también acepta funciones de fideicomisario y ofrece servicios de protección al comprador.</p>"},{"type":"html","id":"ggsUEfT22n-_text","label":"ggsUEfT22n-_text","default":"<p>Seguimiento de boletines</p><p>Nuestros boletines contienen píxeles de seguimiento. Un píxel de seguimiento es un gráfico en miniatura incrustado en dichos correos electrónicos, que se envían en formato HTML para habilitar la grabación de archivos de registro y análisis. Esto permite un análisis estadístico del éxito o fracaso de las campañas de marketing en línea. Basándonos en el píxel de seguimiento incrustado, podemos ver si y cuándo un correo electrónico fue abierto por un sujeto de datos, y qué enlaces en el correo electrónico fueron llamados por los sujetos de datos</p><p>Los datos personales recogidos en los píxeles de seguimiento contenidos en los boletines se almacenan y analizan por el controlador con el fin de optimizar el envío del boletín, así como para adaptar aún mejor el contenido de los futuros boletines a los intereses del sujeto de los datos. Estos datos personales no se pasarán a terceros. Los sujetos de los datos tienen derecho en cualquier momento a revocar su declaración de consentimiento para recibir boletines.</p><p>Después de una revocación, estos datos personales serán eliminados por el controlador. Consideramos automáticamente una retirada de la recepción del boletín como una revocación.</p><p>Posibilidad de contacto a través del sitio web</p><p>Nuestro sitio web contiene información que permite un contacto electrónico rápido con nuestra empresa, así como una comunicación directa con nosotros a través de una dirección de correo electrónico. Si un sujeto de los datos se pone en contacto con el controlador por correo electrónico o a través de un formulario de contacto, los datos personales transmitidos por el sujeto de los datos se almacenan automáticamente. Estos datos personales transmitidos voluntariamente por un sujeto de los datos al controlador de datos se almacenan con el fin de procesarlos o de contactar al sujeto de los datos. No se realiza ninguna transferencia de estos datos personales a terceros.</p><p>Función de comentarios en el blog del sitio web</p><p>Ofrecemos a los usuarios la posibilidad de dejar comentarios individuales en entradas individuales de un blog, que se encuentra en el sitio web del controlador. Un blog es un portal basado en la web, accesible al público, a través del cual una o más personas llamadas blogueros o web-bloggers pueden publicar artículos o escribir pensamientos en publicaciones de blog. Las publicaciones de blog normalmente pueden ser comentadas por terceros.<br>Si un titular de datos deja un comentario en el blog publicado en este sitio web, los comentarios realizados por el titular de datos también se almacenan y se publican, así como información sobre la fecha del comentario y el nombre de usuario (seudónimo) elegido por el titular de datos. Además, la dirección IP asignada por el proveedor de servicios de Internet (ISP) al titular de datos también se registra. Este almacenamiento de la dirección IP se realiza por motivos de seguridad, y en caso de que el titular de datos viole los derechos de terceros o publique contenido ilegal a través de un comentario dado. El almacenamiento de estos datos personales está, por lo tanto, en el interés propio del responsable del tratamiento de datos, para que pueda exculparse en caso de una infracción.</p><p>Estos datos personales recopilados no serán cedidos a terceros, a menos que dicha transferencia sea requerida por la ley o sirva al objetivo de la defensa del responsable del tratamiento de datos.</p>"},{"type":"html","id":"gg8PEWVUW2K_text","label":"gg8PEWVUW2K_text","default":"<p>Protección de datos para las solicitudes y los procedimientos de solicitud</p><p>El responsable del tratamiento recogerá y procesará los datos personales de los solicitantes con el fin de realizar el procedimiento de solicitud. El procesamiento también puede realizarse electrónicamente. Este es el caso, en particular, si un solicitante envía los correspondientes documentos de solicitud por correo electrónico o mediante un formulario en el sitio web al responsable del tratamiento. Si el responsable del tratamiento concluye un contrato de trabajo con un solicitante, los datos enviados se almacenarán con el propósito de procesar la relación laboral en cumplimiento con los requisitos legales. Si no se concluye un contrato de trabajo con el solicitante por parte del responsable, los documentos de solicitud se borrarán automáticamente dos meses después de la notificación de la decisión de rechazo, siempre que no se opongan otros intereses legítimos del responsable al borrado. Otro interés legítimo en esta relación es, por ejemplo, una carga de prueba en un procedimiento bajo la Ley General de Igualdad de Trato (AGG).</p><p>Inscripción en nuestro sitio web</p><p>El interesado tiene la posibilidad de registrarse en el sitio web del responsable indicando datos personales. Los datos personales que se transmiten al responsable se determinan por la respectiva máscara de entrada utilizada para el registro. Los datos personales introducidos por el interesado se recogen y almacenan exclusivamente para uso interno por parte del responsable y para sus propios fines. El responsable puede solicitar la transferencia a uno o más procesadores (por ejemplo, un servicio de paquetería) que también utilicen datos personales para un fin interno que sea atribuible al responsable.</p><p>Al registrarse en el sitio web del responsable, también se almacenan la dirección IP —asignada por el proveedor de servicios de Internet (ISP) y utilizada por el interesado—, la fecha y la hora del registro. El almacenamiento de estos datos se realiza con el objetivo de prevenir el uso indebido de nuestros servicios y, si es necesario, permitir la investigación de delitos cometidos. En este sentido, el almacenamiento de estos datos es necesario para proteger al responsable. Estos datos no se pasan a terceros a menos que exista una obligación legal de transmitir los datos, o si la transferencia tiene como objetivo la persecución penal.</p><p>El registro del interesado, con la indicación voluntaria de datos personales, tiene como objetivo permitir al responsable ofrecer al interesado contenidos o servicios que solo pueden ser ofrecidos a usuarios registrados debido a la naturaleza de la cuestión en cuestión. Las personas registradas son libres de cambiar los datos personales especificados durante el registro en cualquier momento, o de hacer que sean completamente eliminados del stock de datos del responsable.</p><p>El responsable del tratamiento proporcionará, en cualquier momento, información a solicitud de cada interesado sobre qué datos personales se almacenan sobre el interesado. Además, el responsable del tratamiento corregirá o borrará los datos personales a solicitud o indicación del interesado, en la medida en que no existan obligaciones legales de almacenamiento. La totalidad de los empleados del responsable están disponibles para el interesado en este respecto como personas de contacto.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
