

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-509661284006888621.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-509661284006888621.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-509661284006888621.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-509661284006888621.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-509661284006888621.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-509661284006888621.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-509661284006888621.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-509661284006888621.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-509661284006888621.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-509661284006888621.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-509661284006888621.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-509661284006888621.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-509661284006888621.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-509661284006888621.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-509661284006888621.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-509661284006888621.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-509661284006888621.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-509661284006888621.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-509661284006888621.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-509661284006888621.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-509661284006888621.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-509661284006888621.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-509661284006888621.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-509661284006888621.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-509661284006888621.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-509661284006888621.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-509661284006888621.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-509661284006888621.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-509661284006888621.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-509661284006888621.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-509661284006888621.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-509661284006888621.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-509661284006888621.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-509661284006888621.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-509661284006888621.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-509661284006888621.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-509661284006888621.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-509661284006888621.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-509661284006888621.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-509661284006888621.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-509661284006888621.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-509661284006888621.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-509661284006888621.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-509661284006888621.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-509661284006888621.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-509661284006888621.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-509661284006888621.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-509661284006888621.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-509661284006888621.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-509661284006888621.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-509661284006888621.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-509661284006888621.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-509661284006888621.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-509661284006888621.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-509661284006888621.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-509661284006888621.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-509661284006888621.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-509661284006888621.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-509661284006888621.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-509661284006888621 .gp-relative{position:relative}.gps-509661284006888621 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509661284006888621 .gp-mb-0{margin-bottom:0}.gps-509661284006888621 .\!gp-inline{display:inline!important}.gps-509661284006888621 .gp-flex{display:flex}.gps-509661284006888621 .gp-grid{display:grid}.gps-509661284006888621 .\!gp-hidden{display:none!important}.gps-509661284006888621 .gp-hidden{display:none}.gps-509661284006888621 .gp-h-full{height:100%}.gps-509661284006888621 .gp-w-full{width:100%}.gps-509661284006888621 .gp-max-w-full{max-width:100%}.gps-509661284006888621 .gp-flex-col{flex-direction:column}.gps-509661284006888621 .gp-gap-y-0{row-gap:0}.gps-509661284006888621 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509661284006888621 .gp-duration-200{transition-duration:.2s}.gps-509661284006888621 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509661284006888621 .tablet\:\!gp-hidden{display:none!important}.gps-509661284006888621 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509661284006888621 .mobile\:\!gp-hidden{display:none!important}.gps-509661284006888621 .mobile\:gp-hidden{display:none}}.gps-509661284006888621 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509661284006888621 .\[\&_p\]\:gp-inline p{display:inline}.gps-509661284006888621 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509661284006888621 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTESo1eWWW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTESo1eWWW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geCS-UxuUj gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g529yy9KuT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g529yy9KuT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3WrkZ4c8i gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDXS_qJlj2 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDXS_qJlj2_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gkh5ZxcPZv"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkh5ZxcPZv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gYbzw3hmlg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7LGj1xA_i "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7LGj1xA_i_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gNIW3k70j_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gKLhqk1iLV"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "508783848931197844-e78e4137-21f0-43e0-93e7-afa410aba229.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:300/250;--aspect-tablet:300/250;--aspect-mobile:300/250;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "508783848931197844-e78e4137-21f0-43e0-93e7-afa410aba229.jpg" | file_url }}"
        alt=""
        style="--aspect:300/250;--aspect-tablet:300/250;--aspect-mobile:300/250;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gO8wSJb0oZ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:40px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggO8wSJb0oZ_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gmnVDgKFC3"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmnVDgKFC3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8EIEf10jJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZGO0KaWP7 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZGO0KaWP7_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRHFr7RUUG gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gE2dbnYx_e"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="">
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "508783848931197844-ba4e228e-829d-4e24-a351-4bfae0ec15de.jpg" | file_url }}"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:300/250;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:300px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "508783848931197844-ba4e228e-829d-4e24-a351-4bfae0ec15de.jpg" | file_url }}"
        alt="Alt Image"
        style="--aspect:300/250;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:300px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gu-5Ogx54j "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:40px;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggu-5Ogx54j_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gOYL30hao2 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-futura-medium-bt, 'futura medium bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggOYL30hao2_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-509661284006888621 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/bold/app/shopify/edit?pageType=GP_ARTICLE&editorId=509661283939779757&sectionId=509661284006888621)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggDXS_qJlj2_text","label":"ggDXS_qJlj2_text","default":"Política de Procesamiento"},{"type":"html","id":"gg7LGj1xA_i_text","label":"gg7LGj1xA_i_text","default":"<p><strong>Productos en Stock:</strong> Para los productos que tenemos en stock, el tiempo de procesamiento es generalmente de <strong>1 a 3 días hábiles</strong>. Durante este tiempo, nuestro equipo verifica la disponibilidad del producto, prepara el pedido y lo empaqueta cuidadosamente para el envío.</p><p><br><strong>Productos agotados:</strong> Los clientes pueden comprar productos que aparecen en web como agotados.&nbsp;</p><p>*Estos requieren un importe mínimo de compra y se gestionan directamente con nuestros proveedores.</p><p>Contacta con nosotros para más información a través de nuestro chat o por correo <strong><u>info@puravidalash.com.</u></strong></p><p>&nbsp;</p><p><strong>Para artículos no listados en nuestra web:</strong></p><p>&nbsp;Contacta con nosotros sobre el artículo que buscas.&nbsp;</p><p>&nbsp;*Estos requieren un importe mínimo de compra y se gestionan directamente con nuestros proveedores.&nbsp;</p><p>&nbsp;</p><p>Contacta con nosotros para más información a través de nuestro chat o por correo <strong><u>info@puravidalash.com.</u></strong></p>"},{"type":"html","id":"ggO8wSJb0oZ_text","label":"ggO8wSJb0oZ_text","default":"Política de envío"},{"type":"html","id":"ggZGO0KaWP7_text","label":"ggZGO0KaWP7_text","default":"<p>Una vez que tu pedido ha sido procesado, el tiempo de envío es generalmente de<strong> 1 a 3 días hábiles</strong>. Trabajamos con varias empresas de mensajería de confianza para asegurar que tu pedido llegue lo más rápido posible. Te proporcionaremos un número de seguimiento para que puedas seguir el progreso de tu envío en todo momento.<br>Por favor, ten en cuenta que los tiempos de envío pueden variar dependiendo de tu ubicación y de la empresa de mensajería. Además, los días festivos y las condiciones climáticas adversas pueden causar retrasos adicionales.</p>"},{"type":"html","id":"ggu-5Ogx54j_text","label":"ggu-5Ogx54j_text","default":"Política de devolución y reembolso"},{"type":"html","id":"ggOYL30hao2_text","label":"ggOYL30hao2_text","default":"<p><strong>Política de Devolución:</strong></p><p>&nbsp; &nbsp;Los productos no abiertos y en su estado original pueden ser devueltos dentro de los 14 días siguientes a su recepción.<br>&nbsp; &nbsp;Los artículos devueltos que no se deseen pueden optar a un reembolso o un intercambio.<br>&nbsp; &nbsp;En el raro caso de que un producto esté defectuoso, el periodo de devolución de 14 días se ampliará. Es crucial informar a nuestro equipo de cualquier defecto en un máximo de 5 días tras la entrega.</p><p>Consideraciones Importantes al Devolver:</p><p>&nbsp; &nbsp;Es obligatorio contactar con Atención al Cliente antes de realizar la devolución.<br>&nbsp; &nbsp;El cliente asumirá los costes de envío de la devolución y Pura Vida no se responsabiliza por pérdidas o daños durante el transporte.<br>&nbsp; &nbsp;Se aconseja utilizar un método de envío con seguimiento, ya que no se compensará ningún producto hasta que sea recibido y verificado.</p><p><strong>Reembolsos</strong>:</p><p>&nbsp; &nbsp;Los reembolsos se efectuarán tras la recepción y verificación de los productos devueltos.<br>&nbsp; &nbsp;Los productos dañados o usados no serán reembolsables.<br>&nbsp; &nbsp;Los reembolsos pueden tardar hasta 10 días hábiles en reflejarse en tu cuenta bancaria.<br>&nbsp; &nbsp;Las tarifas de envío iniciales no son reembolsables.</p><p><strong>Intercambios</strong>:</p><p>&nbsp; &nbsp;La política de devolución estándar se aplica a los intercambios.<br>&nbsp; &nbsp;Si el nuevo artículo es más barato, se reembolsará la diferencia o se ofrecerá un crédito en la tienda.<br>&nbsp; &nbsp;Si el nuevo artículo es más caro, Pura Vida puede solicitar el pago adicional.</p><p><strong>Reemplazos</strong>:</p><p>&nbsp; &nbsp;Si un producto se rompe o falla durante el periodo de garantía, nuestro equipo de Atención al Cliente te asistirá.<br>&nbsp; &nbsp;Si el producto a reemplazar no está disponible, se ofrecerá una alternativa adecuada.</p><p>Para cualquier consulta, no dudes en contactar con nuestro equipo de Atención al Cliente. ¡Estamos aquí para ayudarte!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
