

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511094136032461856.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-511094136032461856.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511094136032461856.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511094136032461856.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511094136032461856.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511094136032461856.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511094136032461856.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511094136032461856.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511094136032461856.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511094136032461856.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-511094136032461856.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511094136032461856.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-511094136032461856.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-511094136032461856.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511094136032461856.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-511094136032461856.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-511094136032461856.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-511094136032461856.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-511094136032461856.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511094136032461856.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511094136032461856.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511094136032461856.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511094136032461856.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511094136032461856.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511094136032461856.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511094136032461856.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-511094136032461856.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511094136032461856.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511094136032461856.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511094136032461856.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-511094136032461856.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-511094136032461856.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511094136032461856.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511094136032461856.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511094136032461856.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-511094136032461856.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511094136032461856.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511094136032461856.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511094136032461856.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511094136032461856.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511094136032461856.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511094136032461856.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511094136032461856.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511094136032461856.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511094136032461856.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-511094136032461856.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511094136032461856.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511094136032461856.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-511094136032461856.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511094136032461856.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-511094136032461856.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-511094136032461856.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511094136032461856.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511094136032461856.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-511094136032461856.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511094136032461856.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511094136032461856.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-511094136032461856.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511094136032461856.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511094136032461856.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-511094136032461856.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511094136032461856.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511094136032461856.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511094136032461856.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-511094136032461856.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-511094136032461856.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511094136032461856.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511094136032461856.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511094136032461856.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511094136032461856.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511094136032461856.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-511094136032461856.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-511094136032461856.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511094136032461856.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511094136032461856 .gp-relative{position:relative}.gps-511094136032461856 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511094136032461856 .gp-mb-0{margin-bottom:0}.gps-511094136032461856 .\!gp-inline{display:inline!important}.gps-511094136032461856 .gp-flex{display:flex}.gps-511094136032461856 .gp-grid{display:grid}.gps-511094136032461856 .\!gp-hidden{display:none!important}.gps-511094136032461856 .gp-hidden{display:none}.gps-511094136032461856 .gp-h-full{height:100%}.gps-511094136032461856 .gp-w-full{width:100%}.gps-511094136032461856 .gp-max-w-full{max-width:100%}.gps-511094136032461856 .gp-flex-col{flex-direction:column}.gps-511094136032461856 .gp-gap-y-0{row-gap:0}.gps-511094136032461856 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511094136032461856 .gp-duration-200{transition-duration:.2s}.gps-511094136032461856 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511094136032461856 .tablet\:\!gp-hidden{display:none!important}.gps-511094136032461856 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511094136032461856 .mobile\:\!gp-hidden{display:none!important}.gps-511094136032461856 .mobile\:gp-hidden{display:none}}.gps-511094136032461856 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511094136032461856 .\[\&_p\]\:gp-inline p{display:inline}.gps-511094136032461856 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511094136032461856 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

  <gp-animation
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Section","opacity":{"desktop":"100%"}}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g5hH6eREzI"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:20px;--pb-mobile:var(--g-s-2xl);--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5hH6eREzI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guZt4Y9uN5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gyAmQRHASb"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_508783848931197844-d7283578-443a-437e-9bbd-8b8f7fc4cdfa.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:500/200;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:15%;--w-tablet:15%;--w-mobile:15%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-d7283578-443a-437e-9bbd-8b8f7fc4cdfa.png" | file_url }}"
        alt=""
        style="--aspect:500/200;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:15%;--w-tablet:15%;--w-mobile:15%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gyAmQRHASb">
        .gyAmQRHASb {

}
.gyAmQRHASb > figure > img {

}
      </style>
    
      
      
    <div
      parentTag="Col" id="gaLjMJVx19"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:80px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaLjMJVx19 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnkOqqrvLs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ggsCJiU9IM "
        style="--tt:default;--ta:left;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--c:#242424;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggsCJiU9IM_text | downcase }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gmE3oiX9QB "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggmE3oiX9QB_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g499cE2pbT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:45px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g499cE2pbT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geTW_DIJUi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzG8jkdj8u "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzG8jkdj8u_text }}</div>
      </div>
    </div>
      <style id="custom-css-gzG8jkdj8u">
        .gzG8jkdj8u {

}
.gzG8jkdj8u p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gH_2Mw80ry gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gl-DuWT8LU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_508783848931197844-26a53643-b798-462d-9399-84ed5dd00df4.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2048/2048;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-26a53643-b798-462d-9399-84ed5dd00df4.jpg" | file_url }}"
        alt=""
        style="--aspect:2048/2048;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gl-DuWT8LU">
        .gl-DuWT8LU {

}
.gl-DuWT8LU > figure > img {

}
      </style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gZ3XLDJMHx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:45px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZ3XLDJMHx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5nfTaT1-4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2Rh-0buT4 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2Rh-0buT4_text }}</div>
      </div>
    </div>
      <style id="custom-css-g2Rh-0buT4">
        .g2Rh-0buT4 {

}
.g2Rh-0buT4 p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl2lXthtzv gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g1Yus6oXLX"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_508783848931197844-e45f2c65-7c02-4a22-9438-c6477c55304a.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2048/2048;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-e45f2c65-7c02-4a22-9438-c6477c55304a.jpg" | file_url }}"
        alt=""
        style="--aspect:2048/2048;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g1Yus6oXLX">
        .g1Yus6oXLX {

}
.g1Yus6oXLX > figure > img {

}
      </style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gHsBz8XjLc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pb:45px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHsBz8XjLc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gztd8t6Yrh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbSTEOavNr "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbSTEOavNr_text }}</div>
      </div>
    </div>
      <style id="custom-css-gbSTEOavNr">
        .gbSTEOavNr {

}
.gbSTEOavNr p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2Hu5lGYUA gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gKkpvcbl5M"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_508783848931197844-a630142d-c83d-40b1-96c6-eb5c163a58e0.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-a630142d-c83d-40b1-96c6-eb5c163a58e0.jpg" | file_url }}"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gKkpvcbl5M">
        .gKkpvcbl5M {

}
.gKkpvcbl5M > figure > img {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-511094136032461856 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=511094136032461856)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gggsCJiU9IM_text","label":"gggsCJiU9IM_text","default":"Ventas al Por Mayor y Personalización de Productos en Pura Vida"},{"type":"html","id":"ggmE3oiX9QB_text","label":"ggmE3oiX9QB_text","default":"<p>&nbsp;</p><p><span style=\"font-size:17px;\"><strong>En PURA VIDA, nos especializamos en atender las necesidades de negocios como el tuyo, ofreciendo opciones de compra al por mayor y personalización de productos que reflejan la calidad y la identidad de tu marca.</strong></span></p>"},{"type":"html","id":"ggzG8jkdj8u_text","label":"ggzG8jkdj8u_text","default":"<p>&nbsp;</p><p><strong>¿No encuentras lo que buscas en nuestro sitio web?</strong>&nbsp;</p><p>&nbsp;</p><p>¡No hay problema! Ofrecemos la posibilidad de comprar productos <strong>agotados</strong> e incluso aquellos que <strong>no están listados en nuestro sitio web</strong>.</p><p>Entendemos que cada cliente tiene necesidades únicas y estamos aquí para satisfacerlas. Si estás interesado en ver nuestro <span style=\"font-size:17px;\"><strong>catálogo completo</strong></span>, no dudes en solicitárnoslo. Estamos comprometidos a proporcionarte la mejor experiencia de compra posible</p>"},{"type":"html","id":"gg2Rh-0buT4_text","label":"gg2Rh-0buT4_text","default":"<p><strong>Proceso de Pedido</strong></p><ol><li><strong>Contacta con nosotros</strong> a través del chat o por correo electrónico a <strong>info@puravidalash.com</strong>.</li><li>Proporciona tu <strong>nombre completo</strong>, <strong>correo electrónico</strong> y los <strong>detalles del pedido</strong> que deseas.</li><li>Nos pondremos en contacto para <strong>confirmar y proceder</strong> con tu pedido.</li></ol>"},{"type":"html","id":"ggbSTEOavNr_text","label":"ggbSTEOavNr_text","default":"<p><strong>Envío y Procesamiento</strong></p><p>&nbsp;</p><p>Nuestro objetivo es proporcionarte un servicio eficiente y confiable. Sin embargo, es importante tener en cuenta que los tiempos de envío y procesamiento pueden variar según las circunstancias específicas de cada pedido.</p><p><strong>Factores que Afectan el Tiempo de Procesamiento y Envío:</strong></p><ul><li><strong>Cantidad de Producto</strong>: Los pedidos más grandes pueden requerir más tiempo para su preparación y verificación.</li><li><strong>Disponibilidad de Stock</strong>: Si los productos ya están disponibles en nuestra web, podemos procesar tu pedido más rápidamente.</li><li><strong>Pedidos de Artículos No Listados</strong>: Los artículos que no están en stock o que no aparecen en nuestra web necesitan un tiempo adicional para ser gestionados con nuestros proveedores.</li></ul><p><strong>Nuestro Compromiso:</strong> Nos comprometemos a proporcionarte instrucciones detalladas sobre los tiempos de procesamiento y envío para cada pedido. Nuestro equipo está dedicado a asegurar que tu experiencia de compra sea lo más transparente y satisfactoria posible.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
