

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485476496210.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485476496210.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485476496210.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485476496210.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485476496210.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485476496210.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485476496210.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485476496210.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485476496210.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485476496210.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485476496210.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485476496210.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485476496210.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485476496210.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485476496210.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485476496210.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485476496210.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485476496210.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485476496210.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485476496210.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485476496210.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485476496210.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485476496210.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485476496210.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485476496210.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485476496210.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485476496210.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541113485476496210.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485476496210.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485476496210.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485476496210.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485476496210.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485476496210.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485476496210.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485476496210.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485476496210.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485476496210.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485476496210.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485476496210.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485476496210.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-541113485476496210.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-541113485476496210.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485476496210.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-541113485476496210.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485476496210.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-541113485476496210.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485476496210.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485476496210.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485476496210.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485476496210.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485476496210.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485476496210.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485476496210.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485476496210.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485476496210.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541113485476496210.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485476496210.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485476496210.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485476496210.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485476496210.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485476496210.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485476496210.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485476496210.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485476496210 .gp-relative{position:relative}.gps-541113485476496210 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485476496210 .gp-mb-0{margin-bottom:0}.gps-541113485476496210 .gp-flex{display:flex}.gps-541113485476496210 .gp-grid{display:grid}.gps-541113485476496210 .gp-contents{display:contents}.gps-541113485476496210 .\!gp-hidden{display:none!important}.gps-541113485476496210 .gp-hidden{display:none}.gps-541113485476496210 .gp-h-full{height:100%}.gps-541113485476496210 .gp-w-full{width:100%}.gps-541113485476496210 .gp-max-w-full{max-width:100%}.gps-541113485476496210 .gp-flex-col{flex-direction:column}.gps-541113485476496210 .gp-gap-y-0{row-gap:0}.gps-541113485476496210 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485476496210 .gp-duration-200{transition-duration:.2s}.gps-541113485476496210 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-541113485476496210 .tablet\:\!gp-hidden{display:none!important}.gps-541113485476496210 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541113485476496210 .mobile\:\!gp-hidden{display:none!important}.gps-541113485476496210 .mobile\:gp-hidden{display:none}}.gps-541113485476496210 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485476496210 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485476496210 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485476496210 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gZF468Vveo" data-id="gZF468Vveo"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZF468Vveo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEKegDQ9RW gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5NOPinlzR" data-id="g5NOPinlzR"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:0px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5NOPinlzR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center"
      class="gfKXJrCkx7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gA3W1lPXV2"
    role="presentation"
    class="gp-group/image gA3W1lPXV2"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-e19858af-6e73-4206-b331-11a8f7b04e98_768x.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-e19858af-6e73-4206-b331-11a8f7b04e98_1024x.jpg" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-e19858af-6e73-4206-b331-11a8f7b04e98.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:741/453;--aspect-tablet:741/453;--aspect-mobile:741/453;--objf:cover;--w:570px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center"
      class="gcUAZR8W-a gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3ud1pCWQC" data-id="g3ud1pCWQC"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:75px;--pl:70px;--pb:75px;--pr:70px;--pt-mobile:49px;--pl-mobile:16px;--pb-mobile:49px;--pr-mobile:16px;--pt-tablet:49px;--pl-tablet:42px;--pb-tablet:49px;--pr-tablet:42px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#E5FFF9;--bgc-tablet:#F4FCFA;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="g3ud1pCWQC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRtce1fI77 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gvR9JACprL">
    <div
      parentTag="Col"
        class="gvR9JACprL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvR9JACprL_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g2WfpVNnxz">
    <div
      parentTag="Col"
        class="g2WfpVNnxz "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg2WfpVNnxz_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-541113485476496210 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485476496210)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvR9JACprL_text","label":"ggvR9JACprL_text","default":"<strong>Historia de la Marca</strong>"},{"type":"html","id":"gg2WfpVNnxz_text","label":"gg2WfpVNnxz_text","default":"<p><strong>Puravida Lash</strong> nació del entusiasmo de un grupo de apasionados por el arte de la mirada y el cuidado personal. Unidos por el amor hacia las pestañas y el deseo de marcar la diferencia, decidimos crear una marca que combine innovación, calidad y autenticidad.</p><p>Tras años de experiencia en el sector, entendimos que la belleza no es solo lo que se ve, sino también cómo te hace sentir. Por eso, diseñamos cada producto con el objetivo de potenciar la confianza y realzar la esencia única de cada persona. Desde adhesivos y tratamientos hasta soluciones completas para el cuidado de la mirada, buscamos ofrecer herramientas que faciliten el trabajo de profesionales y apasionados por la belleza.</p><p><strong>Puravida Lash</strong> es más que una marca; es el reflejo de nuestra dedicación por reinventar el sector con ideas frescas, productos responsables y un compromiso inquebrantable con la calidad. Somos jóvenes, innovadores y estamos aquí para transformar cada mirada en una obra de arte.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
