

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-509724992431195011.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-509724992431195011.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-509724992431195011.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-509724992431195011.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-509724992431195011.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-509724992431195011.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-509724992431195011.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-509724992431195011.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-509724992431195011.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-509724992431195011.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-509724992431195011.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-509724992431195011.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-509724992431195011.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-509724992431195011.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-509724992431195011.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-509724992431195011.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-509724992431195011.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-509724992431195011.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-509724992431195011.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-509724992431195011.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-509724992431195011.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-509724992431195011.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-509724992431195011.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-509724992431195011.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-509724992431195011.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-509724992431195011.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-509724992431195011.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-509724992431195011.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-509724992431195011.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-509724992431195011.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-509724992431195011.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-509724992431195011.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-509724992431195011.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-509724992431195011.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-509724992431195011.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-509724992431195011.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-509724992431195011.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-509724992431195011.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-509724992431195011.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-509724992431195011.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-509724992431195011.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-509724992431195011.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-509724992431195011.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-509724992431195011.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-509724992431195011.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-509724992431195011.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-509724992431195011.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-509724992431195011.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-509724992431195011.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-509724992431195011.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-509724992431195011.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-509724992431195011.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-509724992431195011.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-509724992431195011 .gp-absolute{position:absolute}.gps-509724992431195011 .gp-relative{position:relative}.gps-509724992431195011 .gp-inset-0{inset:0}.gps-509724992431195011 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-509724992431195011 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-509724992431195011 .gp-z-1{z-index:1}.gps-509724992431195011 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509724992431195011 .gp-mb-0{margin-bottom:0}.gps-509724992431195011 .gp-flex{display:flex}.gps-509724992431195011 .gp-grid{display:grid}.gps-509724992431195011 .\!gp-hidden{display:none!important}.gps-509724992431195011 .gp-hidden{display:none}.gps-509724992431195011 .gp-h-full{height:100%}.gps-509724992431195011 .gp-w-full{width:100%}.gps-509724992431195011 .gp-max-w-full{max-width:100%}.gps-509724992431195011 .gp-flex-col{flex-direction:column}.gps-509724992431195011 .gp-items-center{align-items:center}.gps-509724992431195011 .\!gp-justify-center{justify-content:center!important}.gps-509724992431195011 .gp-gap-y-0{row-gap:0}.gps-509724992431195011 .gp-overflow-hidden{overflow:hidden}.gps-509724992431195011 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509724992431195011 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509724992431195011 .gp-duration-200{transition-duration:.2s}.gps-509724992431195011 .gp-duration-300{transition-duration:.3s}.gps-509724992431195011 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-509724992431195011 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-509724992431195011 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-509724992431195011 .tablet\:gp-relative{position:relative}.gps-509724992431195011 .tablet\:\!gp-hidden{display:none!important}.gps-509724992431195011 .tablet\:gp-hidden{display:none}.gps-509724992431195011 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-509724992431195011 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-509724992431195011 .mobile\:gp-relative{position:relative}.gps-509724992431195011 .mobile\:\!gp-hidden{display:none!important}.gps-509724992431195011 .mobile\:gp-hidden{display:none}.gps-509724992431195011 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-509724992431195011 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-509724992431195011 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-509724992431195011 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-509724992431195011 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g7Z9GnnCo-" data-id="g7Z9GnnCo-"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7Z9GnnCo- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggDCDtqKb2 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"HeroBanner","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    <div class="gp-flex gp-w-full" style="--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png","height":1186,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png","storage":"FILE_CONTENT","width":2048},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png","height":1186,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png","storage":"FILE_CONTENT","width":2048},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-11160507-117d-4512-8f17-f1993588cde6.png","height":1024,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-11160507-117d-4512-8f17-f1993588cde6.png","storage":"FILE_CONTENT","width":1024},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gNR7OYMAA4","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gNR7OYMAA4 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gNR7OYMAA4"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_508783848931197844-11160507-117d-4512-8f17-f1993588cde6_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71_1024x.png" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('{{ "gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71.png" | file_url }}');--bgi-tablet:url('{{ "gempages_508783848931197844-4923d030-2a65-414a-a3af-282bc68fde71_1024x.png" | file_url }}');--bgi-mobile:url('{{ "gempages_508783848931197844-11160507-117d-4512-8f17-f1993588cde6_768x.png" | file_url }}');--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:70%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:auto;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyF5O-8oxr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gQAjY7Yxdd" data-id="gQAjY7Yxdd"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:188px;--mb:188px;--pt:0px;--pb:0px;--mt-mobile:150px;--mb-mobile:150px;--pl-mobile:15px;--pr-mobile:15px;--cg:auto;--pc:start;--gtc:minmax(0, 12fr);--w:744px;--w-tablet:744px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQAjY7Yxdd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g9MjMOFdkJ gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-509724992431195011 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=509724992431195011)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
