

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485812106470.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485812106470.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485812106470.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541113485812106470.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485812106470.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485812106470.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485812106470.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485812106470.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485812106470.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485812106470.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485812106470.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541113485812106470.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541113485812106470.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-541113485812106470.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485812106470.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541113485812106470.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541113485812106470.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485812106470.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541113485812106470.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541113485812106470.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541113485812106470.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485812106470.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485812106470.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485812106470.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-541113485812106470.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485812106470.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485812106470.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485812106470.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485812106470.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485812106470.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485812106470.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485812106470.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485812106470.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485812106470.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485812106470.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485812106470.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485812106470.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-541113485812106470.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-541113485812106470.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541113485812106470.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485812106470.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485812106470.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485812106470.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485812106470.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485812106470.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485812106470.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485812106470.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485812106470.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485812106470.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-541113485812106470.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485812106470.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485812106470.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485812106470.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485812106470.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-541113485812106470.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485812106470.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-541113485812106470.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485812106470.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-541113485812106470.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485812106470.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485812106470.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485812106470.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485812106470.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485812106470.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485812106470.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485812106470.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485812106470.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-541113485812106470.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-541113485812106470.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485812106470.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541113485812106470.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485812106470.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-541113485812106470.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485812106470.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541113485812106470.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-541113485812106470.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-541113485812106470.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485812106470.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485812106470.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485812106470.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485812106470.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-541113485812106470.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485812106470.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485812106470 .focus\:\!gp-shadow-none,.gps-541113485812106470 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-541113485812106470 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-541113485812106470 .gp-fixed{position:fixed}.gps-541113485812106470 .gp-relative{position:relative}.gps-541113485812106470 .gp-top-\[27px\]{top:27px}.gps-541113485812106470 .gp-z-1{z-index:1}.gps-541113485812106470 .gp-z-100{z-index:100}.gps-541113485812106470 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485812106470 .gp-mb-0{margin-bottom:0}.gps-541113485812106470 .gp-block{display:block}.gps-541113485812106470 .gp-flex{display:flex}.gps-541113485812106470 .gp-inline-flex{display:inline-flex}.gps-541113485812106470 .gp-grid{display:grid}.gps-541113485812106470 .gp-contents{display:contents}.gps-541113485812106470 .\!gp-hidden{display:none!important}.gps-541113485812106470 .gp-hidden{display:none}.gps-541113485812106470 .\!gp-h-auto{height:auto!important}.gps-541113485812106470 .gp-h-full{height:100%}.gps-541113485812106470 .gp-w-full{width:100%}.gps-541113485812106470 .gp-max-w-full{max-width:100%}.gps-541113485812106470 .gp-flex-none{flex:none}.gps-541113485812106470 .gp-shrink-0{flex-shrink:0}.gps-541113485812106470 .gp-flex-col{flex-direction:column}.gps-541113485812106470 .gp-items-center{align-items:center}.gps-541113485812106470 .gp-justify-start{justify-content:flex-start}.gps-541113485812106470 .gp-justify-center{justify-content:center}.gps-541113485812106470 .gp-gap-y-0{row-gap:0}.gps-541113485812106470 .gp-overflow-hidden{overflow:hidden}.gps-541113485812106470 .gp-break-words{overflow-wrap:break-word}.gps-541113485812106470 .gp-rounded{border-radius:4px}.gps-541113485812106470 .gp-rounded-none{border-radius:0}.gps-541113485812106470 .\!gp-bg-none{background-image:none!important}.gps-541113485812106470 .gp-p-\[16px\]{padding:16px}.gps-541113485812106470 .gp-text-center{text-align:center}.gps-541113485812106470 .gp-text-\[14px\]{font-size:14px}.gps-541113485812106470 .gp-leading-normal{line-height:1.5}.gps-541113485812106470 .gp-no-underline{text-decoration-line:none}.gps-541113485812106470 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-541113485812106470 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485812106470 .gp-duration-200{transition-duration:.2s}.gps-541113485812106470 .gp-duration-300{transition-duration:.3s}.gps-541113485812106470 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485812106470 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-541113485812106470 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-541113485812106470 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-541113485812106470 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541113485812106470 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541113485812106470 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-541113485812106470 .tablet\:gp-block{display:block}.gps-541113485812106470 .tablet\:\!gp-hidden{display:none!important}.gps-541113485812106470 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541113485812106470 .mobile\:gp-block{display:block}.gps-541113485812106470 .mobile\:\!gp-hidden{display:none!important}.gps-541113485812106470 .mobile\:gp-hidden{display:none}}.gps-541113485812106470 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-541113485812106470 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-541113485812106470 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-541113485812106470 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-541113485812106470 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485812106470 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485812106470 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541113485812106470 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485812106470 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gik6Nu1U3G" data-id="gik6Nu1U3G"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gik6Nu1U3G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqRFNe-6JN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g9hFDgfggx" data-id="g9hFDgfggx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9hFDgfggx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--o:1;--o-mobile:0"
      class="gg40mf7zow gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gyIX4JhpB7">
    <div
      parentTag="Col"
        class="gyIX4JhpB7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyIX4JhpB7_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gXsQ6DRQq7">
    <div
      parentTag="Col"
        class="gXsQ6DRQq7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXsQ6DRQq7_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl)" class="gJ4IBBpY93 ">
      
    <gp-form
      id="gJ4IBBpY93"
      data-id="gJ4IBBpY93"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gJ4IBBpY93"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gJ4IBBpY93 ', id: 'contact_form_gJ4IBBpY93' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gJ4IBBpY93"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggJ4IBBpY93_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gJ4IBBpY93">
        <style>
            #my-popover-gJ4IBBpY93::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gJ4IBBpY93"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggJ4IBBpY93_successMessage }}
        </div></div>
        
       
      
    <div
      parentTag="Newsletter" id="gfAjNHt18U" data-id="gfAjNHt18U"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfAjNHt18U gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYn2F0-Dky gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gbvGyCHXRZ"
      class="gbvGyCHXRZ"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--pl:16px;--pr:16px;--pt:11px;--pb:11px;--w:426px;--w-tablet:426px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggbvGyCHXRZ_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPcYJ7FlyC gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gf7DBGH3Cg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gf7DBGH3Cg:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #424242;
  
      
    }

    .gf7DBGH3Cg:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gf7DBGH3Cg .gp-button-icon {
      color: #FFFFFF;
    }

    .gf7DBGH3Cg:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gf7DBGH3Cg .gp-button-price {
      color: #FFFFFF;
    }

    .gf7DBGH3Cg .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gf7DBGH3Cg:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="submit" data-id="gf7DBGH3Cg" aria-label="Subscribe"
      
      data-state="idle"
      class="gf7DBGH3Cg gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:11px;--pb:11px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:11px;--pb-mobile:11px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#FFFFFF;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggf7DBGH3Cg_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--pt:8px;--pb:8px;--pt-mobile:7px;--pb-mobile:7px" class="g8vdxC3n4N ">
      
    <div
    data-id="g8vdxC3n4N"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E0E0E0"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
       
      
    <div
      parentTag="Col" id="gEBosIdOVg" data-id="gEBosIdOVg"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:780px;--w-tablet:720px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEBosIdOVg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdamH2to1d gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gDz4dp0GS4"
    role="presentation"
    class="gp-group/image gDz4dp0GS4"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-de3a93ce-21f1-46a2-ae36-311cbdbf8180_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-de3a93ce-21f1-46a2-ae36-311cbdbf8180_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-de3a93ce-21f1-46a2-ae36-311cbdbf8180.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:450/105;--aspect-tablet:450/105;--aspect-mobile:450/105;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gTkwPGew-p" data-id="gTkwPGew-p"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-l);--cg:56px;--cg-mobile:108px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTkwPGew-p gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="gyDg2f2vwW gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4JDqaeL5h" data-id="g4JDqaeL5h"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:56px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4JDqaeL5h gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gInr5ykyxI gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl);--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gSuNCVavvM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gSuNCVavvM:hover::before {
      
      
    }

    .gSuNCVavvM:hover .gp-button-icon {
      color: undefined;
    }

     .gSuNCVavvM .gp-button-icon {
      color: #424242;
    }

    .gSuNCVavvM:hover .gp-button-price {
      color: undefined;
    }

    .gSuNCVavvM .gp-button-price {
      color: #424242;
    }

    .gSuNCVavvM .gp-product-dot-price {
       color: #424242;
    }

    .gSuNCVavvM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gSuNCVavvM" aria-label="About Us"
      
      data-state="idle"
      class="gSuNCVavvM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.ggSuNCVavvM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6FALe-6tj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl);--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gnSVVb1lUK.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gnSVVb1lUK:hover::before {
      
      
    }

    .gnSVVb1lUK:hover .gp-button-icon {
      color: undefined;
    }

     .gnSVVb1lUK .gp-button-icon {
      color: #424242;
    }

    .gnSVVb1lUK:hover .gp-button-price {
      color: undefined;
    }

    .gnSVVb1lUK .gp-button-price {
      color: #424242;
    }

    .gnSVVb1lUK .gp-product-dot-price {
       color: #424242;
    }

    .gnSVVb1lUK:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gnSVVb1lUK" aria-label="Contact Us"
      
      data-state="idle"
      class="gnSVVb1lUK gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.ggnSVVb1lUK_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gVidjRRRO_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .g3PoNwMn0d.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g3PoNwMn0d:hover::before {
      
      
    }

    .g3PoNwMn0d:hover .gp-button-icon {
      color: undefined;
    }

     .g3PoNwMn0d .gp-button-icon {
      color: #424242;
    }

    .g3PoNwMn0d:hover .gp-button-price {
      color: undefined;
    }

    .g3PoNwMn0d .gp-button-price {
      color: #424242;
    }

    .g3PoNwMn0d .gp-product-dot-price {
       color: #424242;
    }

    .g3PoNwMn0d:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="g3PoNwMn0d" aria-label="Terms & Conditions"
      
      data-state="idle"
      class="g3PoNwMn0d gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.gg3PoNwMn0d_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:start"
      class="grsGtSI4AC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQ5_Q5cHWj" data-id="gQ5_Q5cHWj"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:56px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ5_Q5cHWj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvN1IvbWlb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl);--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gqyYJIoDAM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gqyYJIoDAM:hover::before {
      
      
    }

    .gqyYJIoDAM:hover .gp-button-icon {
      color: undefined;
    }

     .gqyYJIoDAM .gp-button-icon {
      color: #424242;
    }

    .gqyYJIoDAM:hover .gp-button-price {
      color: undefined;
    }

    .gqyYJIoDAM .gp-button-price {
      color: #424242;
    }

    .gqyYJIoDAM .gp-product-dot-price {
       color: #424242;
    }

    .gqyYJIoDAM:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gqyYJIoDAM" aria-label="Returns Policy"
      
      data-state="idle"
      class="gqyYJIoDAM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.ggqyYJIoDAM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grBdnpOp7G gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center;--ta-mobile:left"
    
  >
    <style>
    .gboKbfRLFH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gboKbfRLFH:hover::before {
      
      
    }

    .gboKbfRLFH:hover .gp-button-icon {
      color: undefined;
    }

     .gboKbfRLFH .gp-button-icon {
      color: #424242;
    }

    .gboKbfRLFH:hover .gp-button-price {
      color: undefined;
    }

    .gboKbfRLFH .gp-button-price {
      color: #424242;
    }

    .gboKbfRLFH .gp-product-dot-price {
       color: #424242;
    }

    .gboKbfRLFH:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gboKbfRLFH" aria-label="FAQs"
      
      data-state="idle"
      class="gboKbfRLFH gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.ggboKbfRLFH_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pt:16px;--pb:16px;--pt-mobile:14px;--pb-mobile:14px" class="g9dAUEl2Cy ">
      
    <div
    data-id="g9dAUEl2Cy"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E0E0E0"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
       
      
    <div
      parentTag="Col" id="gAES1G4C3T" data-id="gAES1G4C3T"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAES1G4C3T gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRD1sZ1C4T gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gzvCa6YkD9">
    <div
      parentTag="Col"
        class="gzvCa6YkD9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzvCa6YkD9_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gkb-ysnX7I" data-id="gkb-ysnX7I"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:var(--g-s-2xl);--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkb-ysnX7I gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g3POvkFGFw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gqgLUZ0ztm.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gqgLUZ0ztm:hover::before {
      
      
    }

    .gqgLUZ0ztm:hover .gp-button-icon {
      color: undefined;
    }

     .gqgLUZ0ztm .gp-button-icon {
      color: #424242;
    }

    .gqgLUZ0ztm:hover .gp-button-price {
      color: undefined;
    }

    .gqgLUZ0ztm .gp-button-price {
      color: #424242;
    }

    .gqgLUZ0ztm .gp-product-dot-price {
       color: #424242;
    }

    .gqgLUZ0ztm:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gqgLUZ0ztm" aria-label
      
      data-state="idle"
      class="gqgLUZ0ztm gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.66643 4.48226C10.7326 4.46437 11.7628 4.86752 12.5337 5.60426L14.6847 3.45326C13.3272 2.17809 11.5288 1.47792 9.66643 1.49951C8.27585 1.49893 6.91252 1.88512 5.72883 2.61491C4.54514 3.3447 3.58775 4.38933 2.96368 5.63201L5.46943 7.57451C5.75761 6.68482 6.31757 5.90793 7.07048 5.3532C7.82338 4.79848 8.73131 4.49387 9.66643 4.48226Z" fill="#424242"/> <path d="M2.9637 5.63281C2.43938 6.67793 2.16635 7.83105 2.16635 9.00031C2.16635 10.1696 2.43938 11.3227 2.9637 12.3678L5.46945 10.4253C5.15588 9.50119 5.15588 8.49944 5.46945 7.57531L2.96445 5.63281H2.9637Z" fill="#424242"/> <path d="M12.206 12.8008C11.6262 13.173 10.969 13.4079 10.2845 13.4875C9.6001 13.5671 8.90653 13.4893 8.25673 13.2602C7.60692 13.031 7.01804 12.6564 6.53501 12.165C6.05197 11.6736 5.68754 11.0784 5.46951 10.4248L2.96451 12.3673C3.58846 13.6098 4.54561 14.6542 5.72901 15.384C6.91241 16.1138 8.27543 16.5001 9.66576 16.4998C11.4915 16.5493 13.2671 15.8992 14.6293 14.6826L12.2053 12.8008H12.206Z" fill="#424242"/> <path d="M16.7299 7.63672H9.66644V10.5377H13.7029C13.6194 10.9966 13.4436 11.4338 13.1863 11.8228C12.929 12.2119 12.5955 12.5447 12.2059 12.8012L14.6299 14.6837C15.3681 13.9728 15.9486 13.1147 16.3339 12.1651C16.7192 11.2155 16.9006 10.1955 16.8664 9.17122C16.8664 8.65597 16.8214 8.14297 16.7299 7.63672Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmBWshCf1H gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gov0Jbi4FZ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gov0Jbi4FZ:hover::before {
      
      
    }

    .gov0Jbi4FZ:hover .gp-button-icon {
      color: undefined;
    }

     .gov0Jbi4FZ .gp-button-icon {
      color: #424242;
    }

    .gov0Jbi4FZ:hover .gp-button-price {
      color: undefined;
    }

    .gov0Jbi4FZ .gp-button-price {
      color: #424242;
    }

    .gov0Jbi4FZ .gp-product-dot-price {
       color: #424242;
    }

    .gov0Jbi4FZ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gov0Jbi4FZ" aria-label
      
      data-state="idle"
      class="gov0Jbi4FZ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_1512_576)"> <path d="M9.5 0C7.05762 0 6.7505 0.01125 5.79087 0.054C4.83125 0.099 4.17763 0.24975 3.605 0.4725C3.00436 0.698421 2.4603 1.0528 2.01088 1.51088C1.55309 1.96053 1.19875 2.50452 0.9725 3.105C0.74975 3.6765 0.597875 4.33125 0.554 5.2875C0.51125 6.24937 0.5 6.55538 0.5 9.00113C0.5 11.4446 0.51125 11.7506 0.554 12.7103C0.599 13.6688 0.74975 14.3224 0.9725 14.895C1.20312 15.4867 1.51025 15.9885 2.01088 16.4891C2.51038 16.9897 3.01213 17.298 3.60388 17.5275C4.17763 17.7502 4.83013 17.9021 5.78863 17.946C6.74938 17.9888 7.05537 18 9.5 18C11.9446 18 12.2495 17.9888 13.2103 17.946C14.1676 17.901 14.8235 17.7502 15.3961 17.5275C15.9964 17.3015 16.54 16.9471 16.9891 16.4891C17.4897 15.9885 17.7969 15.4867 18.0275 14.895C18.2491 14.3224 18.401 13.6688 18.446 12.7103C18.4888 11.7506 18.5 11.4446 18.5 9C18.5 6.55537 18.4888 6.24938 18.446 5.28863C18.401 4.33125 18.2491 3.6765 18.0275 3.105C17.8013 2.5045 17.4469 1.96051 16.9891 1.51088C16.5398 1.05264 15.9957 0.698226 15.395 0.4725C14.8212 0.24975 14.1665 0.097875 13.2091 0.054C12.2484 0.01125 11.9435 0 9.49775 0H9.50113H9.5ZM8.69337 1.62225H9.50113C11.9041 1.62225 12.1887 1.63013 13.1371 1.674C14.0146 1.71337 14.4916 1.86075 14.8089 1.98338C15.2285 2.1465 15.5289 2.34225 15.8439 2.65725C16.1589 2.97225 16.3535 3.2715 16.5166 3.69225C16.6404 4.00838 16.7866 4.48538 16.826 5.36287C16.8699 6.31125 16.8789 6.59587 16.8789 8.99775C16.8789 11.3996 16.8699 11.6854 16.826 12.6337C16.7866 13.5112 16.6393 13.9871 16.5166 14.3044C16.3723 14.6952 16.142 15.0485 15.8427 15.3383C15.5278 15.6532 15.2285 15.8479 14.8078 16.011C14.4928 16.1348 14.0157 16.281 13.1371 16.3215C12.1887 16.3643 11.9041 16.3744 9.50113 16.3744C7.09813 16.3744 6.81238 16.3643 5.864 16.3215C4.9865 16.281 4.51062 16.1348 4.19338 16.011C3.80244 15.8669 3.44877 15.637 3.15837 15.3383C2.85884 15.048 2.62819 14.6944 2.48338 14.3032C2.36075 13.9871 2.21337 13.5101 2.174 12.6326C2.13125 11.6842 2.12225 11.3996 2.12225 8.9955C2.12225 6.5925 2.13125 6.309 2.174 5.36062C2.2145 4.48312 2.36075 4.00612 2.4845 3.68887C2.64762 3.26925 2.84337 2.96887 3.15837 2.65387C3.47337 2.33888 3.77262 2.14425 4.19338 1.98112C4.51062 1.85738 4.9865 1.71113 5.864 1.67062C6.69425 1.63238 7.016 1.62113 8.69337 1.62V1.62225ZM14.3049 3.11625C14.163 3.11625 14.0226 3.14419 13.8916 3.19846C13.7605 3.25274 13.6415 3.33229 13.5412 3.43257C13.4409 3.53286 13.3614 3.65192 13.3071 3.78295C13.2528 3.91398 13.2249 4.05442 13.2249 4.19625C13.2249 4.33808 13.2528 4.47852 13.3071 4.60955C13.3614 4.74058 13.4409 4.85964 13.5412 4.95993C13.6415 5.06021 13.7605 5.13976 13.8916 5.19404C14.0226 5.24831 14.163 5.27625 14.3049 5.27625C14.5913 5.27625 14.866 5.16247 15.0686 4.95993C15.2711 4.75739 15.3849 4.48268 15.3849 4.19625C15.3849 3.90982 15.2711 3.63511 15.0686 3.43257C14.866 3.23004 14.5913 3.11625 14.3049 3.11625ZM9.50113 4.3785C8.88808 4.36894 8.27926 4.48142 7.7101 4.70941C7.14094 4.9374 6.62283 5.27633 6.18592 5.70648C5.74901 6.13662 5.40203 6.64939 5.1652 7.21492C4.92836 7.78045 4.80639 8.38744 4.80639 9.00056C4.80639 9.61368 4.92836 10.2207 5.1652 10.7862C5.40203 11.3517 5.74901 11.8645 6.18592 12.2946C6.62283 12.7248 7.14094 13.0637 7.7101 13.2917C8.27926 13.5197 8.88808 13.6322 9.50113 13.6226C10.7145 13.6037 11.8717 13.1084 12.7231 12.2437C13.5745 11.3789 14.0516 10.2141 14.0516 9.00056C14.0516 7.78706 13.5745 6.62221 12.7231 5.75747C11.8717 4.89272 10.7145 4.39743 9.50113 4.3785ZM9.50113 5.99963C10.2969 5.99963 11.06 6.31574 11.6227 6.87841C12.1854 7.44109 12.5015 8.20425 12.5015 9C12.5015 9.79575 12.1854 10.5589 11.6227 11.1216C11.06 11.6843 10.2969 12.0004 9.50113 12.0004C8.70538 12.0004 7.94222 11.6843 7.37954 11.1216C6.81686 10.5589 6.50075 9.79575 6.50075 9C6.50075 8.20425 6.81686 7.44109 7.37954 6.87841C7.94222 6.31574 8.70538 5.99963 9.50113 5.99963Z" fill="#424242"/> </g> <defs> <clipPath id="clip0_1512_576"> <rect width="18" height="18" fill="white" transform="translate(0.5)"/> </clipPath> </defs> </svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0bMn3H8tg gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .ggcFmQ8D2U.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .ggcFmQ8D2U:hover::before {
      
      
    }

    .ggcFmQ8D2U:hover .gp-button-icon {
      color: undefined;
    }

     .ggcFmQ8D2U .gp-button-icon {
      color: #424242;
    }

    .ggcFmQ8D2U:hover .gp-button-price {
      color: undefined;
    }

    .ggcFmQ8D2U .gp-button-price {
      color: #424242;
    }

    .ggcFmQ8D2U .gp-product-dot-price {
       color: #424242;
    }

    .ggcFmQ8D2U:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="ggcFmQ8D2U" aria-label
      
      data-state="idle"
      class="ggcFmQ8D2U gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.5162 16.5001V9.65786H12.8127L13.1569 6.99161H10.5169V5.28911C10.5169 4.51661 10.7307 3.99086 11.8377 3.99086L13.2499 3.99011V1.60511C12.5666 1.53279 11.8798 1.49774 11.1927 1.50011C9.15645 1.50011 7.76295 2.74286 7.76295 5.02511V6.99161H5.46045V9.65786H7.76295V16.5001H10.5162Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIH9Oq2z_h gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gS9ddJbmHn.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E0E0E0;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gS9ddJbmHn:hover::before {
      
      
    }

    .gS9ddJbmHn:hover .gp-button-icon {
      color: undefined;
    }

     .gS9ddJbmHn .gp-button-icon {
      color: #424242;
    }

    .gS9ddJbmHn:hover .gp-button-price {
      color: undefined;
    }

    .gS9ddJbmHn .gp-button-price {
      color: #424242;
    }

    .gS9ddJbmHn .gp-product-dot-price {
       color: #424242;
    }

    .gS9ddJbmHn:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_self" data-id="gS9ddJbmHn" aria-label
      
      data-state="idle"
      class="gS9ddJbmHn gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(255, 255, 255, 0);--bg:rgba(255, 255, 255, 0);--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#424242;--size:16px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M17.0001 4.34714C16.4384 4.59612 15.8425 4.75944 15.2323 4.83164C15.8752 4.44723 16.3564 3.84212 16.5861 3.12914C15.982 3.488 15.321 3.74066 14.6316 3.87614C14.2092 3.42646 13.6614 3.11406 13.0593 2.97945C12.4572 2.84484 11.8285 2.89423 11.2549 3.12121C10.6812 3.3482 10.1889 3.74231 9.84192 4.25244C9.49492 4.76257 9.30919 5.36518 9.30881 5.98214C9.30839 6.21812 9.33481 6.45338 9.38756 6.68339C8.16413 6.62197 6.96729 6.30398 5.87471 5.75007C4.78212 5.19616 3.81822 4.41869 3.04556 3.46814C2.65201 4.14566 2.53144 4.94769 2.70839 5.71097C2.88535 6.47426 3.34653 7.14142 3.99806 7.57664C3.50901 7.56165 3.03066 7.42972 2.60306 7.19189V7.23089C2.60318 7.94149 2.84911 8.63018 3.29912 9.18012C3.74914 9.73006 4.37554 10.1074 5.07206 10.2481C4.80782 10.32 4.53514 10.3561 4.26131 10.3554C4.0668 10.3555 3.87271 10.3374 3.68156 10.3014C3.8781 10.9128 4.26076 11.4474 4.77605 11.8307C5.29134 12.2139 5.9135 12.4266 6.55556 12.4389C5.26512 13.4489 3.62712 13.9065 2.00006 13.7116C3.4071 14.6161 5.04487 15.0963 6.71756 15.0946C7.86939 15.1024 9.01128 14.8813 10.0769 14.4441C11.1426 14.0068 12.1107 13.3622 12.9252 12.5477C13.7396 11.7332 14.3841 10.765 14.8213 9.69931C15.2584 8.63363 15.4794 7.49172 15.4716 6.33989C15.4716 6.20639 15.4683 6.07389 15.4618 5.94239C16.0652 5.50619 16.5861 4.96601 17.0001 4.34714Z" fill="#424242"/> </svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:16px"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g53t6OVN8U gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gKtUjpijaT">
    <div
      parentTag="Col"
        class="gKtUjpijaT "
        style="--ta:right;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:right;--jc-mobile:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKtUjpijaT_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gFFVMtr2i0" data-id="gFFVMtr2i0"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:12px;--pc:end;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFFVMtr2i0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd_fsU-_x_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmIDdsdD-s"
    role="presentation"
    class="gp-group/image gmIDdsdD-s"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-3569c3af-6d64-418c-aa3e-9d4ea00d1b32_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-3569c3af-6d64-418c-aa3e-9d4ea00d1b32_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-3569c3af-6d64-418c-aa3e-9d4ea00d1b32.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:110/64;--aspect-tablet:110/64;--aspect-mobile:110/64;--objf:cover;--w:54px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpjv0GI7jI gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gvl3-pi08p"
    role="presentation"
    class="gp-group/image gvl3-pi08p"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-244a0088-8ff6-45a9-ba29-40a211431bb6_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-244a0088-8ff6-45a9-ba29-40a211431bb6_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-244a0088-8ff6-45a9-ba29-40a211431bb6.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:110/64;--aspect-tablet:110/64;--aspect-mobile:110/64;--objf:cover;--w:54px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gb25IhZ3PT gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gKTdtR0jrx"
    role="presentation"
    class="gp-group/image gKTdtR0jrx"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-26fda9bd-c022-416a-9f1d-29a361eeb13a_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-26fda9bd-c022-416a-9f1d-29a361eeb13a_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-26fda9bd-c022-416a-9f1d-29a361eeb13a.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:110/64;--aspect-tablet:110/64;--aspect-mobile:110/64;--objf:cover;--w:54px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEYP1ZqYDa gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIaRSBlaMV"
    role="presentation"
    class="gp-group/image gIaRSBlaMV"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-776d6979-d166-4193-a213-312d970ecbe3_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-776d6979-d166-4193-a213-312d970ecbe3_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-776d6979-d166-4193-a213-312d970ecbe3.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:110/64;--aspect-tablet:110/64;--aspect-mobile:110/64;--objf:cover;--w:54px;--w-tablet:54px;--w-mobile:54px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-541113485812106470 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485812106470)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyIX4JhpB7_text","label":"ggyIX4JhpB7_text","default":"<p>Become a Gemlab Insider!</p>"},{"type":"html","id":"ggXsQ6DRQq7_text","label":"ggXsQ6DRQq7_text","default":"<p>Be the first to hear about our new launches, exclusive offers and expert beauty tips.</p>"},{"type":"html","id":"ggJ4IBBpY93_successMessage","label":"ggJ4IBBpY93_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggJ4IBBpY93_errorMessage","label":"ggJ4IBBpY93_errorMessage","default":"Cant send email. Please try again later."},{"type":"html","id":"ggbvGyCHXRZ_placeholder","label":"ggbvGyCHXRZ_placeholder","default":"Email address"},{"type":"html","id":"ggf7DBGH3Cg_label","label":"ggf7DBGH3Cg_label","default":"Subscribe"},{"type":"html","id":"ggSuNCVavvM_label","label":"ggSuNCVavvM_label","default":"About Us"},{"type":"html","id":"ggnSVVb1lUK_label","label":"ggnSVVb1lUK_label","default":"Contact Us"},{"type":"html","id":"gg3PoNwMn0d_label","label":"gg3PoNwMn0d_label","default":"Terms & Conditions"},{"type":"html","id":"ggqyYJIoDAM_label","label":"ggqyYJIoDAM_label","default":"Returns Policy"},{"type":"html","id":"ggboKbfRLFH_label","label":"ggboKbfRLFH_label","default":"FAQs"},{"type":"html","id":"ggzvCa6YkD9_text","label":"ggzvCa6YkD9_text","default":"<p>Follow us on</p>"},{"type":"html","id":"ggKtUjpijaT_text","label":"ggKtUjpijaT_text","default":"<p>Copyright  2022 GemPages. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
