

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485459719299.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485459719299.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485459719299.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541113485459719299.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485459719299.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485459719299.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485459719299.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485459719299.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485459719299.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485459719299.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485459719299.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541113485459719299.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541113485459719299.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485459719299.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541113485459719299.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541113485459719299.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485459719299.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541113485459719299.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541113485459719299.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541113485459719299.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485459719299.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485459719299.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485459719299.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-541113485459719299.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485459719299.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485459719299.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485459719299.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485459719299.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485459719299.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485459719299.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485459719299.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485459719299.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485459719299.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485459719299.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485459719299.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485459719299.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541113485459719299.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485459719299.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485459719299.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485459719299.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485459719299.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485459719299.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485459719299.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485459719299.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485459719299.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485459719299.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485459719299.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-541113485459719299.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485459719299.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485459719299.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485459719299.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485459719299.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485459719299.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-541113485459719299.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485459719299.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485459719299.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485459719299.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485459719299.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485459719299.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-541113485459719299.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485459719299.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485459719299.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485459719299.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485459719299.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541113485459719299.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485459719299.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485459719299.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541113485459719299.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485459719299.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485459719299.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485459719299.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485459719299.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-541113485459719299.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485459719299.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485459719299 .gp-relative{position:relative}.gps-541113485459719299 .gp-z-1{z-index:1}.gps-541113485459719299 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485459719299 .gp-mb-0{margin-bottom:0}.gps-541113485459719299 .gp-flex{display:flex}.gps-541113485459719299 .gp-inline-flex{display:inline-flex}.gps-541113485459719299 .gp-grid{display:grid}.gps-541113485459719299 .gp-contents{display:contents}.gps-541113485459719299 .\!gp-hidden{display:none!important}.gps-541113485459719299 .gp-hidden{display:none}.gps-541113485459719299 .gp-h-full{height:100%}.gps-541113485459719299 .gp-w-full{width:100%}.gps-541113485459719299 .gp-max-w-full{max-width:100%}.gps-541113485459719299 .gp-flex-col{flex-direction:column}.gps-541113485459719299 .gp-items-center{align-items:center}.gps-541113485459719299 .gp-justify-center{justify-content:center}.gps-541113485459719299 .gp-gap-y-0{row-gap:0}.gps-541113485459719299 .gp-overflow-hidden{overflow:hidden}.gps-541113485459719299 .gp-break-words{overflow-wrap:break-word}.gps-541113485459719299 .gp-rounded-none{border-radius:0}.gps-541113485459719299 .gp-text-center{text-align:center}.gps-541113485459719299 .gp-no-underline{text-decoration-line:none}.gps-541113485459719299 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485459719299 .gp-duration-200{transition-duration:.2s}.gps-541113485459719299 .gp-duration-300{transition-duration:.3s}.gps-541113485459719299 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485459719299 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541113485459719299 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541113485459719299 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541113485459719299 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-541113485459719299 .tablet\:\!gp-hidden{display:none!important}.gps-541113485459719299 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-541113485459719299 .mobile\:\!gp-hidden{display:none!important}.gps-541113485459719299 .mobile\:gp-hidden{display:none}}.gps-541113485459719299 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485459719299 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485459719299 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541113485459719299 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485459719299 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":"1.1","easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gM14k9Fsng" data-id="gM14k9Fsng"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM14k9Fsng gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge-SCgmz3_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="grQVhfWKV3" data-id="grQVhfWKV3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grQVhfWKV3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center"
      class="gko_LxpSiY gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gg3Z6Zh6Aj">
    <div
      parentTag="Col"
        class="gg3Z6Zh6Aj "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggg3Z6Zh6Aj_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gtO7IdVKq0">
    <div
      parentTag="Col"
        class="gtO7IdVKq0 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtO7IdVKq0_text }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gqQEOTit4V"
    role="presentation"
    class="gp-group/image gqQEOTit4V"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-86b97187-eac0-4a03-a93f-e3a9d78d53dd_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-86b97187-eac0-4a03-a93f-e3a9d78d53dd_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-b2f1c35a-0c02-416d-a374-608baad67649.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:3414/1280;--aspect-tablet:5462/2048;--aspect-mobile:5462/2048;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gKB-RTBKei" data-id="gKB-RTBKei"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKB-RTBKei gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glPy1GHNFM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g6b94izzNi"
    role="presentation"
    class="gp-group/image g6b94izzNi"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-97abc16f-4de7-4ef3-b1bc-167796e6be16_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-97abc16f-4de7-4ef3-b1bc-167796e6be16_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-97abc16f-4de7-4ef3-b1bc-167796e6be16.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gvFFq3Ntjo">
    <div
      parentTag="Col"
        class="gvFFq3Ntjo "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvFFq3Ntjo_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_-vknzY6k gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ga2ZdWYP4H"
    role="presentation"
    class="gp-group/image ga2ZdWYP4H"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-595b6e5f-bdf6-4ff7-b17b-65f55c1ea928_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-595b6e5f-bdf6-4ff7-b17b-65f55c1ea928_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-595b6e5f-bdf6-4ff7-b17b-65f55c1ea928.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gaeLlnzueC">
    <div
      parentTag="Col"
        class="gaeLlnzueC "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaeLlnzueC_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRthkV01x5 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g3OvW2rFZr"
    role="presentation"
    class="gp-group/image g3OvW2rFZr"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-bf047038-e795-4344-8c6f-ccb81b518f44_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-bf047038-e795-4344-8c6f-ccb81b518f44_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-bf047038-e795-4344-8c6f-ccb81b518f44.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gNbZSPNIeG">
    <div
      parentTag="Col"
        class="gNbZSPNIeG "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggNbZSPNIeG_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gB7Sx9R30M" data-id="gB7Sx9R30M"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gB7Sx9R30M gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOxKOjQmFk gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gkjvYMM2jd"
    role="presentation"
    class="gp-group/image gkjvYMM2jd"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-a68cef9c-812c-4969-a106-33213d50f390_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-a68cef9c-812c-4969-a106-33213d50f390_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-a68cef9c-812c-4969-a106-33213d50f390.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gE3XMqUKEo">
    <div
      parentTag="Col"
        class="gE3XMqUKEo "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggE3XMqUKEo_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gs6I9T0bFq gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJ2_Qo8rXF"
    role="presentation"
    class="gp-group/image gJ2_Qo8rXF"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-0d835c4c-ca91-4fa5-9bea-4b1de8d2287c_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-0d835c4c-ca91-4fa5-9bea-4b1de8d2287c_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-0d835c4c-ca91-4fa5-9bea-4b1de8d2287c.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gbalsTvBB7">
    <div
      parentTag="Col"
        class="gbalsTvBB7 "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbalsTvBB7_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUqad2UGDR gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqT_BKerSO"
    role="presentation"
    class="gp-group/image gqT_BKerSO"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-b60f9077-7bbe-4bab-b920-e4630dbb7434_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-b60f9077-7bbe-4bab-b920-e4630dbb7434_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-b60f9077-7bbe-4bab-b920-e4630dbb7434.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:1/1;--aspect-tablet:128/128;--aspect-mobile:128/128;--objf:cover;--w:64px;--w-tablet:64px;--w-mobile:64px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  <gp-text data-id="gDeZyTDltK">
    <div
      parentTag="Col"
        class="gDeZyTDltK "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggDeZyTDltK_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g6yTS5KWWt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .g6yTS5KWWt:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #424242;
  
      
    }

    .g6yTS5KWWt:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .g6yTS5KWWt .gp-button-icon {
      color: #FFFFFF;
    }

    .g6yTS5KWWt:hover .gp-button-price {
      color: #FFFFFF;
    }

    .g6yTS5KWWt .gp-button-price {
      color: #FFFFFF;
    }

    .g6yTS5KWWt .gp-product-dot-price {
       color: #FFFFFF;
    }

    .g6yTS5KWWt:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/all" target="_self" data-id="g6yTS5KWWt" aria-label="<p>Comprar Ahora</p>"
      
      data-state="idle"
      class="g6yTS5KWWt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#2cd5c4;--bg:#242424;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--pl:56px;--pr:56px;--pt:11px;--pb:11px;--pl-tablet:56px;--pr-tablet:56px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9.5px;--pb-mobile:9.5px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#FFFFFF;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.gg6yTS5KWWt_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-541113485459719299 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485459719299)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggg3Z6Zh6Aj_text","label":"ggg3Z6Zh6Aj_text","default":"Calidad Coreana en una marca nacional"},{"type":"html","id":"ggtO7IdVKq0_text","label":"ggtO7IdVKq0_text","default":"<p>En <strong>Puravida Lash</strong>, unimos lo mejor de dos mundos: la <strong>calidad coreana</strong>, reconocida por su precisión y durabilidad en el mundo de las pestañas, con la esencia de una marca <strong>orgullosamente española</strong></p>"},{"type":"html","id":"ggvFFq3Ntjo_text","label":"ggvFFq3Ntjo_text","default":"<p>Suave para la piel</p>"},{"type":"html","id":"ggaeLlnzueC_text","label":"ggaeLlnzueC_text","default":"<p>Belleza limpia y segura</p>"},{"type":"html","id":"ggNbZSPNIeG_text","label":"ggNbZSPNIeG_text","default":"<p>Apto para todo tipo de pieles</p>"},{"type":"html","id":"ggE3XMqUKEo_text","label":"ggE3XMqUKEo_text","default":"<p>Libre de crueldad y vegano</p>"},{"type":"html","id":"ggbalsTvBB7_text","label":"ggbalsTvBB7_text","default":"<p>Cuidadosos con el medio ambiente</p>"},{"type":"html","id":"ggDeZyTDltK_text","label":"ggDeZyTDltK_text","default":"<p>Empaque reciclable</p>"},{"type":"html","id":"gg6yTS5KWWt_label","label":"gg6yTS5KWWt_label","default":"<p>Comprar Ahora</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
