

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511220776028865568.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511220776028865568.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-511220776028865568.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511220776028865568.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511220776028865568.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511220776028865568.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511220776028865568.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511220776028865568.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511220776028865568.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511220776028865568.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-511220776028865568.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-511220776028865568.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511220776028865568.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-511220776028865568.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-511220776028865568.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-511220776028865568.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-511220776028865568.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-511220776028865568.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-511220776028865568.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511220776028865568.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511220776028865568.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511220776028865568.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-511220776028865568.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511220776028865568.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511220776028865568.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511220776028865568.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511220776028865568.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-511220776028865568.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511220776028865568.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511220776028865568.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511220776028865568.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-511220776028865568.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-511220776028865568.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511220776028865568.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511220776028865568.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511220776028865568.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511220776028865568.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511220776028865568.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511220776028865568.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511220776028865568.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511220776028865568.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511220776028865568.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511220776028865568.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511220776028865568.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-511220776028865568.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511220776028865568.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511220776028865568.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511220776028865568.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-511220776028865568.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511220776028865568.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-511220776028865568.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511220776028865568.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-511220776028865568.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-511220776028865568.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511220776028865568.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511220776028865568.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-511220776028865568.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511220776028865568.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511220776028865568.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511220776028865568.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511220776028865568.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511220776028865568.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-511220776028865568.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511220776028865568.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511220776028865568.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511220776028865568.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511220776028865568.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511220776028865568.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511220776028865568.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511220776028865568 .focus\:\!gp-shadow-none,.gps-511220776028865568 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-511220776028865568 .gp-fixed{position:fixed}.gps-511220776028865568 .gp-relative{position:relative}.gps-511220776028865568 .gp-top-\[27px\]{top:27px}.gps-511220776028865568 .gp-z-1{z-index:1}.gps-511220776028865568 .gp-z-100{z-index:100}.gps-511220776028865568 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511220776028865568 .gp-mb-0{margin-bottom:0}.gps-511220776028865568 .gp-flex{display:flex}.gps-511220776028865568 .gp-inline-flex{display:inline-flex}.gps-511220776028865568 .gp-grid{display:grid}.gps-511220776028865568 .\!gp-hidden{display:none!important}.gps-511220776028865568 .gp-hidden{display:none}.gps-511220776028865568 .\!gp-h-auto{height:auto!important}.gps-511220776028865568 .gp-h-full{height:100%}.gps-511220776028865568 .gp-min-h-\[150px\]{min-height:150px}.gps-511220776028865568 .gp-max-w-full{max-width:100%}.gps-511220776028865568 .gp-flex-col{flex-direction:column}.gps-511220776028865568 .gp-items-center{align-items:center}.gps-511220776028865568 .gp-justify-center{justify-content:center}.gps-511220776028865568 .gp-gap-y-0{row-gap:0}.gps-511220776028865568 .gp-overflow-hidden{overflow:hidden}.gps-511220776028865568 .gp-break-words{overflow-wrap:break-word}.gps-511220776028865568 .gp-rounded{border-radius:4px}.gps-511220776028865568 .gp-rounded-none{border-radius:0}.gps-511220776028865568 .\!gp-bg-none{background-image:none!important}.gps-511220776028865568 .gp-p-\[16px\]{padding:16px}.gps-511220776028865568 .gp-text-\[14px\]{font-size:14px}.gps-511220776028865568 .gp-leading-normal{line-height:1.5}.gps-511220776028865568 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-511220776028865568 .gp-no-underline{text-decoration-line:none}.gps-511220776028865568 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-511220776028865568 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511220776028865568 .gp-duration-200{transition-duration:.2s}.gps-511220776028865568 .gp-duration-300{transition-duration:.3s}.gps-511220776028865568 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511220776028865568 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-511220776028865568 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-511220776028865568 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-511220776028865568 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511220776028865568 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511220776028865568 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-511220776028865568 .tablet\:\!gp-hidden{display:none!important}.gps-511220776028865568 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511220776028865568 .mobile\:\!gp-hidden{display:none!important}.gps-511220776028865568 .mobile\:gp-hidden{display:none}}.gps-511220776028865568 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511220776028865568 .\[\&_p\]\:gp-inline p{display:inline}.gps-511220776028865568 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511220776028865568 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511220776028865568 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gJgdpruc_S" data-id="gJgdpruc_S"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJgdpruc_S gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDgRuNZ1TK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gY4dBfnczZ" data-id="gY4dBfnczZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:100px;--pb:var(--g-s-2xl);--pr:100px;--pt-tablet:var(--g-s-2xl);--pl-tablet:auto;--pb-tablet:var(--g-s-2xl);--pr-tablet:auto;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gY4dBfnczZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwANAmRPl0 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gCQx5l9d2n">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCQx5l9d2n "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggCQx5l9d2n_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gbbi6nQvVt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbbi6nQvVt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggbbi6nQvVt_text }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-3xl);--pl-tablet:0px;--pr-tablet:0px" class="gPK-1S9mK1 ">
      
    
    <gp-form
      id="gPK-1S9mK1"
      data-id="gPK-1S9mK1"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gPK-1S9mK1"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-gPK-1S9mK1 ', id: 'contact_form_gPK-1S9mK1' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gPK-1S9mK1"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div popover id="my-popover-gPK-1S9mK1">
        <style>
            #my-popover-gPK-1S9mK1::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gPK-1S9mK1"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div></div>
        
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)"
      data-id="gfLAZNLs58"
    >
      <input
        type="text"
        class="gp-form-item gfLAZNLs58 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--tt:default;--fs:normal;--ff:var(--g-font-futura-light-bt, 'futura light bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none"
        placeholder="{{ section.settings.ggfLAZNLs58_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
    data-id="g1Al3IV2oH"
      class="g1Al3IV2oH"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--fs:normal;--ff:var(--g-font-futura-light-bt, 'futura light bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none"
        placeholder="{{ section.settings.gg1Al3IV2oH_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      data-id="gceeq1nDr-"
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <textarea
        class="gp-form-item gceeq1nDr- gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--tt:default;--fs:normal;--ff:var(--g-font-futura-light-bt, 'futura light bt'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="Mensaje"
        {% if false %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gr00dnqf0_.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gr00dnqf0_:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
      
    }

    .gr00dnqf0_:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gr00dnqf0_ .gp-button-icon {
      color: #000000;
    }

    .gr00dnqf0_:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gr00dnqf0_ .gp-button-price {
      color: #000000;
    }

    .gr00dnqf0_ .gp-product-dot-price {
       color: #000000;
    }

    .gr00dnqf0_:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="submit" data-id="gr00dnqf0_" aria-label="Enviar"
      
      data-state="idle"
      class="gr00dnqf0_ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#2cd5c4;--bg:#2cd5c4;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:10.5px;--pb-mobile:10.5px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#000000;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggr00dnqf0__label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-IIWWDFnf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gj5Wb5QdFZ" data-id="gj5Wb5QdFZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-2xl);--pl-mobile:auto;--pl-tablet:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj5Wb5QdFZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBRmyvUnPx gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g54aQVLq-n">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g54aQVLq-n "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg54aQVLq-n_text }}</h3>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gJKLQoTpnY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJKLQoTpnY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJKLQoTpnY_text }}</h3>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gMxS2rE7LE">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gMxS2rE7LE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#545454;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggMxS2rE7LE_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-511220776028865568 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511220746333193248&sectionId=511220776028865568)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCQx5l9d2n_text","label":"ggCQx5l9d2n_text","default":"¡Estaremos encantados de ayudarte!"},{"type":"html","id":"ggbbi6nQvVt_text","label":"ggbbi6nQvVt_text","default":"<p>¿Preguntas, inquietudes...? Queremos ayudarte. Envíanos un mensaje.</p>"},{"type":"html","id":"ggfLAZNLs58_placeholder","label":"ggfLAZNLs58_placeholder","default":"Nombre"},{"type":"html","id":"gg1Al3IV2oH_placeholder","label":"gg1Al3IV2oH_placeholder","default":"Email"},{"type":"html","id":"ggceeq1nDr-_placeholder","label":"ggceeq1nDr-_placeholder","default":"Mensaje"},{"type":"html","id":"ggr00dnqf0__label","label":"ggr00dnqf0__label","default":"Enviar"},{"type":"html","id":"gg54aQVLq-n_text","label":"gg54aQVLq-n_text","default":"<p>FAQs</p>"},{"type":"html","id":"ggJKLQoTpnY_text","label":"ggJKLQoTpnY_text","default":"Email&nbsp;"},{"type":"html","id":"ggMxS2rE7LE_text","label":"ggMxS2rE7LE_text","default":"<p><u>info@puravidalash.com</u></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
