

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541113485577159509.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541113485577159509.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541113485577159509.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541113485577159509.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541113485577159509.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541113485577159509.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541113485577159509.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541113485577159509.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541113485577159509.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541113485577159509.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541113485577159509.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541113485577159509.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541113485577159509.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541113485577159509.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541113485577159509.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541113485577159509.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541113485577159509.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541113485577159509.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541113485577159509.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541113485577159509.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541113485577159509.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541113485577159509.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541113485577159509.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-541113485577159509.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541113485577159509.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541113485577159509.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541113485577159509.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541113485577159509.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541113485577159509.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541113485577159509.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541113485577159509.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541113485577159509.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-541113485577159509.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541113485577159509.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541113485577159509.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541113485577159509.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541113485577159509.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541113485577159509.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-541113485577159509.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541113485577159509.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541113485577159509.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541113485577159509.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541113485577159509.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541113485577159509.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541113485577159509.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541113485577159509.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541113485577159509.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-541113485577159509.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541113485577159509.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-541113485577159509.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541113485577159509.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541113485577159509.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-541113485577159509.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-541113485577159509.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541113485577159509.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-541113485577159509.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541113485577159509.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541113485577159509.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541113485577159509.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-541113485577159509.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541113485577159509.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-541113485577159509.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-541113485577159509.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541113485577159509.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-541113485577159509.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541113485577159509.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-541113485577159509.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-541113485577159509.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-541113485577159509.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-541113485577159509.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-541113485577159509.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541113485577159509.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541113485577159509.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-541113485577159509.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541113485577159509.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541113485577159509.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541113485577159509.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-541113485577159509.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-541113485577159509.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-541113485577159509.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541113485577159509.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-541113485577159509 .gp-absolute{position:absolute}.gps-541113485577159509 .gp-relative{position:relative}.gps-541113485577159509 .gp-inset-0{inset:0}.gps-541113485577159509 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-541113485577159509 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-541113485577159509 .gp-z-1{z-index:1}.gps-541113485577159509 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541113485577159509 .gp-mb-0{margin-bottom:0}.gps-541113485577159509 .gp-flex{display:flex}.gps-541113485577159509 .gp-inline-flex{display:inline-flex}.gps-541113485577159509 .gp-grid{display:grid}.gps-541113485577159509 .\!gp-hidden{display:none!important}.gps-541113485577159509 .gp-hidden{display:none}.gps-541113485577159509 .gp-h-full{height:100%}.gps-541113485577159509 .gp-w-full{width:100%}.gps-541113485577159509 .gp-max-w-full{max-width:100%}.gps-541113485577159509 .gp-flex-col{flex-direction:column}.gps-541113485577159509 .gp-items-center{align-items:center}.gps-541113485577159509 .\!gp-justify-center{justify-content:center!important}.gps-541113485577159509 .gp-justify-center{justify-content:center}.gps-541113485577159509 .gp-gap-y-0{row-gap:0}.gps-541113485577159509 .gp-overflow-hidden{overflow:hidden}.gps-541113485577159509 .gp-break-words{overflow-wrap:break-word}.gps-541113485577159509 .gp-rounded-none{border-radius:0}.gps-541113485577159509 .gp-text-center{text-align:center}.gps-541113485577159509 .gp-no-underline{text-decoration-line:none}.gps-541113485577159509 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485577159509 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485577159509 .gp-duration-200{transition-duration:.2s}.gps-541113485577159509 .gp-duration-300{transition-duration:.3s}.gps-541113485577159509 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541113485577159509 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541113485577159509 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-541113485577159509 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-541113485577159509 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-541113485577159509 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-541113485577159509 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-541113485577159509 .tablet\:gp-relative{position:relative}.gps-541113485577159509 .tablet\:\!gp-hidden{display:none!important}.gps-541113485577159509 .tablet\:gp-hidden{display:none}.gps-541113485577159509 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-541113485577159509 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-541113485577159509 .mobile\:gp-relative{position:relative}.gps-541113485577159509 .mobile\:\!gp-hidden{display:none!important}.gps-541113485577159509 .mobile\:gp-hidden{display:none}.gps-541113485577159509 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-541113485577159509 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-541113485577159509 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-541113485577159509 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-541113485577159509 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541113485577159509 .\[\&_p\]\:gp-inline p{display:inline}.gps-541113485577159509 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-541113485577159509 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-541113485577159509 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gyn7cUrgg_" data-id="gyn7cUrgg_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyn7cUrgg_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go3UzCE793 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png","height":640,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png","width":1441,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png","height":640,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png","width":1441,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_508783848931197844-fc1ec101-602d-4e44-8175-e915fb06dae3.png","height":720,"src":"https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-fc1ec101-602d-4e44-8175-e915fb06dae3.png","width":374,"storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gpKfQL3T9Q","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        
        class="gpKfQL3T9Q gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pl:15px;--pr:15px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gpKfQL3T9Q"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content"
        >
          
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_508783848931197844-fc1ec101-602d-4e44-8175-e915fb06dae3_768x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7_1024x.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1441/640;--aspect-tablet:1441/640;--aspect-mobile:374/720;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-684d06a2-bb5c-4568-911c-799a9c93ddf7.png');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0819/3307/4759/files/gempages_508783848931197844-fc1ec101-602d-4e44-8175-e915fb06dae3.png');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          
          
       
      
    <div
      id data-id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2zurs7F2Q gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g7ccBvZRW_" data-id="g7ccBvZRW_"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--mr:auto;--pt:150px;--pb:150px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:403px;--pb-mobile:58px;--ml-tablet:auto;--mr-tablet:auto;--pt-tablet:150px;--pb-tablet:150px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:465px;--w-tablet:465px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7ccBvZRW_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gofr32AELq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gT1EqDO5pg">
    <div
      parentTag="Col"
        class="gT1EqDO5pg "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#E13333;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggT1EqDO5pg_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gzpEEjUKyt">
    <div
      parentTag="Col"
        class="gzpEEjUKyt "
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:44px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzpEEjUKyt_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gfZcGAk8Su">
    <div
      parentTag="Col"
        class="gfZcGAk8Su "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfZcGAk8Su_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gvT_VkJnXz.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gvT_VkJnXz:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #424242;
  
      
    }

    .gvT_VkJnXz:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gvT_VkJnXz .gp-button-icon {
      color: #FFFFFF;
    }

    .gvT_VkJnXz:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gvT_VkJnXz .gp-button-price {
      color: #FFFFFF;
    }

    .gvT_VkJnXz .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gvT_VkJnXz:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="#" target="_self" data-id="gvT_VkJnXz" aria-label="Get it now"
      
      data-state="idle"
      class="gvT_VkJnXz gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:72px;--pr:72px;--pt:11px;--pb:11px;--pl-tablet:72px;--pr-tablet:72px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9.5px;--pb-mobile:9.5px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#FFFFFF;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggvT_VkJnXz_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-541113485577159509 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=541113466199475026&sectionId=541113485577159509)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggT1EqDO5pg_text","label":"ggT1EqDO5pg_text","default":"<p>20% OFF for weekend only</p>"},{"type":"html","id":"ggzpEEjUKyt_text","label":"ggzpEEjUKyt_text","default":"<p>Enjoy summer with healthy glowing skin!</p>"},{"type":"html","id":"ggfZcGAk8Su_text","label":"ggfZcGAk8Su_text","default":"<p>We've created the best collection for your skin this summer. You can now fulfill your skincare needs and enjoy your favorite products with just one order!</p>"},{"type":"html","id":"ggvT_VkJnXz_label","label":"ggvT_VkJnXz_label","default":"Get it now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
