

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527128628455015377.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527128628455015377.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-527128628455015377.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527128628455015377.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527128628455015377.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527128628455015377.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527128628455015377.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527128628455015377.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527128628455015377.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527128628455015377.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-527128628455015377.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527128628455015377.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527128628455015377.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527128628455015377.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527128628455015377.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-527128628455015377.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527128628455015377.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527128628455015377.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527128628455015377.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527128628455015377.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527128628455015377.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527128628455015377.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527128628455015377.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-527128628455015377.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527128628455015377.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527128628455015377.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527128628455015377.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527128628455015377.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527128628455015377.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527128628455015377.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527128628455015377.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527128628455015377.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527128628455015377.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527128628455015377.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527128628455015377.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527128628455015377.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527128628455015377.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527128628455015377.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527128628455015377.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-527128628455015377.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527128628455015377.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-527128628455015377.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527128628455015377.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527128628455015377.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527128628455015377.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-527128628455015377.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-527128628455015377.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527128628455015377.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527128628455015377.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527128628455015377.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527128628455015377.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527128628455015377.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527128628455015377.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527128628455015377.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-527128628455015377 .focus\:\!gp-shadow-none,.gps-527128628455015377 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-527128628455015377 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-527128628455015377 .\!gp-g-s-medium{padding:8px 24px!important}.gps-527128628455015377 .gp-fixed{position:fixed}.gps-527128628455015377 .gp-relative{position:relative}.gps-527128628455015377 .gp-top-\[27px\]{top:27px}.gps-527128628455015377 .gp-z-1{z-index:1}.gps-527128628455015377 .gp-z-100{z-index:100}.gps-527128628455015377 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527128628455015377 .gp-mb-0{margin-bottom:0}.gps-527128628455015377 .gp-flex{display:flex}.gps-527128628455015377 .gp-inline-flex{display:inline-flex}.gps-527128628455015377 .gp-grid{display:grid}.gps-527128628455015377 .\!gp-hidden{display:none!important}.gps-527128628455015377 .gp-hidden{display:none}.gps-527128628455015377 .\!gp-h-auto{height:auto!important}.gps-527128628455015377 .gp-h-full{height:100%}.gps-527128628455015377 .gp-min-h-\[150px\]{min-height:150px}.gps-527128628455015377 .gp-max-w-full{max-width:100%}.gps-527128628455015377 .gp-flex-col{flex-direction:column}.gps-527128628455015377 .gp-items-center{align-items:center}.gps-527128628455015377 .gp-justify-center{justify-content:center}.gps-527128628455015377 .gp-gap-y-0{row-gap:0}.gps-527128628455015377 .gp-overflow-hidden{overflow:hidden}.gps-527128628455015377 .gp-break-words{overflow-wrap:break-word}.gps-527128628455015377 .gp-rounded{border-radius:4px}.gps-527128628455015377 .gp-rounded-none{border-radius:0}.gps-527128628455015377 .\!gp-bg-none{background-image:none!important}.gps-527128628455015377 .gp-p-\[16px\]{padding:16px}.gps-527128628455015377 .gp-text-\[14px\]{font-size:14px}.gps-527128628455015377 .gp-leading-normal{line-height:1.5}.gps-527128628455015377 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-527128628455015377 .gp-no-underline{text-decoration-line:none}.gps-527128628455015377 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-527128628455015377 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527128628455015377 .gp-duration-200{transition-duration:.2s}.gps-527128628455015377 .gp-duration-300{transition-duration:.3s}.gps-527128628455015377 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527128628455015377 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-527128628455015377 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-527128628455015377 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-527128628455015377 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-527128628455015377 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-527128628455015377 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-527128628455015377 .tablet\:\!gp-hidden{display:none!important}.gps-527128628455015377 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527128628455015377 .mobile\:\!gp-hidden{display:none!important}.gps-527128628455015377 .mobile\:gp-hidden{display:none}}.gps-527128628455015377 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527128628455015377 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="gnrb4wx8wj" data-id="gnrb4wx8wj"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:0px;--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnrb4wx8wj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzTKXK90YZ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--pl-tablet:0px;--pr-tablet:0px" class="g7BL5SG2RZ ">
      
    
    <gp-form
      id="g7BL5SG2RZ"
      data-id="g7BL5SG2RZ"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g7BL5SG2RZ"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-g7BL5SG2RZ ', id: 'contact_form_g7BL5SG2RZ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g7BL5SG2RZ"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.gg7BL5SG2RZ_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-g7BL5SG2RZ">
        <style>
            #my-popover-g7BL5SG2RZ::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-g7BL5SG2RZ"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.gg7BL5SG2RZ_successMessage }}
        </div></div>
        
       
      
    <div
      enableLazyloadImage="true" parentTag="ContactForm" id="gsz1TM1YCy" data-id="gsz1TM1YCy"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:16px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsz1TM1YCy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gb4VUkTQOw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      data-id="gkPxJ6aZG5"
    >
      <input
        type="text"
        class="gp-form-item gkPxJ6aZG5 gp-g-paragraph-1 gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        placeholder="{{ section.settings.ggkPxJ6aZG5_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      data-id="g_utWvb4a0"
    >
      <input
        type="text"
        class="gp-form-item g_utWvb4a0 gp-g-paragraph-1 gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.gg_utWvb4a0_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gA-MOujrsO gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gqYbzr49qi"
      class="gqYbzr49qi"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        placeholder="{{ section.settings.ggqYbzr49qi_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      data-id="gUEpHeW5Op"
    >
      <input
        type="text"
        class="gp-form-item gUEpHeW5Op gp-g-paragraph-1 gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
        placeholder="{{ section.settings.ggUEpHeW5Op_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[phone]"
        value=""
      ></input>
    </div>
  
    </div>
    </div>
   
    
    <div
      
      data-id="gKw4UkuQxJ"
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pt-mobile:20px"
    >
      <textarea
        class="gp-form-item gKw4UkuQxJ gp-g-paragraph-1 gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--bs:solid;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="MENSAJE"
        {% if true %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
    
  >
    <style>
    .gmNSKJyyhB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gmNSKJyyhB:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gmNSKJyyhB:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gmNSKJyyhB .gp-button-icon {
      color: #000000;
    }

    .gmNSKJyyhB:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gmNSKJyyhB .gp-button-price {
      color: #000000;
    }

    .gmNSKJyyhB .gp-product-dot-price {
       color: #000000;
    }

    .gmNSKJyyhB:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="submit" data-id="gmNSKJyyhB" aria-label="ENVIAR"
      
      data-state="idle"
      class="gmNSKJyyhB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:#2cd5c4;--bg:#2cd5c4;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#FFFFFF;--c:#000000"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden gp-g-paragraph-1
        "
        
      >
        {{ section.settings.ggmNSKJyyhB_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-527128628455015377 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=527128628455015377)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7BL5SG2RZ_successMessage","label":"gg7BL5SG2RZ_successMessage","default":"Gracias por contactar con nosotros. En breves recibirá una respuesta"},{"type":"html","id":"gg7BL5SG2RZ_errorMessage","label":"gg7BL5SG2RZ_errorMessage","default":"No se puede enviar el email. Inténtelo más tarde-"},{"type":"html","id":"ggkPxJ6aZG5_placeholder","label":"ggkPxJ6aZG5_placeholder","default":"NOMBRE"},{"type":"html","id":"gg_utWvb4a0_placeholder","label":"gg_utWvb4a0_placeholder","default":"AUTONOMO O EMPRESA"},{"type":"html","id":"ggqYbzr49qi_placeholder","label":"ggqYbzr49qi_placeholder","default":"EMAIL"},{"type":"html","id":"ggUEpHeW5Op_placeholder","label":"ggUEpHeW5Op_placeholder","default":"TELÉFONO"},{"type":"html","id":"ggKw4UkuQxJ_placeholder","label":"ggKw4UkuQxJ_placeholder","default":"MENSAJE"},{"type":"html","id":"ggmNSKJyyhB_label","label":"ggmNSKJyyhB_label","default":"ENVIAR"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
