

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-509724992062096557.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-509724992062096557.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-509724992062096557.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-509724992062096557.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-509724992062096557.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-509724992062096557.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-509724992062096557.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-509724992062096557.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-509724992062096557.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-509724992062096557.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-509724992062096557.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-509724992062096557.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-509724992062096557.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-509724992062096557.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-509724992062096557.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-509724992062096557.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-509724992062096557.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-509724992062096557.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-509724992062096557.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-509724992062096557.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-509724992062096557.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-509724992062096557.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-509724992062096557.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-509724992062096557.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-509724992062096557.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-509724992062096557.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-509724992062096557.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-509724992062096557.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-509724992062096557.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-509724992062096557.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-509724992062096557.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-509724992062096557.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-509724992062096557.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-509724992062096557.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-509724992062096557.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-509724992062096557.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-509724992062096557.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-509724992062096557.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-509724992062096557.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-509724992062096557.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-509724992062096557.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-509724992062096557.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-509724992062096557.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-509724992062096557.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-509724992062096557.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-509724992062096557.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-509724992062096557.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-509724992062096557.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-509724992062096557.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-509724992062096557.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-509724992062096557.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-509724992062096557.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-509724992062096557.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-509724992062096557.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-509724992062096557 .gp-relative{position:relative}.gps-509724992062096557 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509724992062096557 .gp-mb-0{margin-bottom:0}.gps-509724992062096557 .gp-flex{display:flex}.gps-509724992062096557 .gp-grid{display:grid}.gps-509724992062096557 .\!gp-hidden{display:none!important}.gps-509724992062096557 .gp-hidden{display:none}.gps-509724992062096557 .gp-max-w-full{max-width:100%}.gps-509724992062096557 .gp-flex-col{flex-direction:column}.gps-509724992062096557 .gp-gap-y-0{row-gap:0}.gps-509724992062096557 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509724992062096557 .gp-duration-200{transition-duration:.2s}.gps-509724992062096557 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509724992062096557 .tablet\:\!gp-hidden{display:none!important}.gps-509724992062096557 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509724992062096557 .mobile\:\!gp-hidden{display:none!important}.gps-509724992062096557 .mobile\:gp-hidden{display:none}}.gps-509724992062096557 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509724992062096557 .\[\&_p\]\:gp-inline p{display:inline}.gps-509724992062096557 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509724992062096557 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Section","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdxVRq0jac" data-id="gdxVRq0jac"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-5xl);--pl:15px;--pb:20px;--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:0px;--pb-tablet:var(--g-s-4xl);--pr-tablet:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdxVRq0jac gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9VdE8IIfj gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gH84bkUU9N" data-id="gH84bkUU9N"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH84bkUU9N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaMh7os_f3 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  <gp-text data-id="gGXzOpPLbb">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gGXzOpPLbb "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--pl:0px;--pr:0px;--ml-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--pl-tablet:50px;--pr-tablet:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:center;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--weight:400;--size:26px;--size-tablet:46px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGXzOpPLbb_text }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  <gp-text data-id="giN5yGUmGf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="giN5yGUmGf "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--pl:150px;--pr:150px;--ml-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--pl-tablet:50px;--pr-tablet:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Abel, 'Abel'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:46px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggiN5yGUmGf_text }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BOw.woff) format('woff');
}
/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPbh5uGM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-509724992062096557 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=509724992062096557)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGXzOpPLbb_text","label":"ggGXzOpPLbb_text","default":"<br>&nbsp;<span style=\"font-size:55px;\"><strong><sup>¿Qué es comprar al por mayor en </sup></strong></span><span style=\"color:#2CD5C4;font-size:55px;\"><strong><sup>PURAVIDA </sup></strong></span><span style=\"font-size:55px;\"><strong><sup>LASH?</sup></strong></span><br>&nbsp;<br>En <span style=\"color:#2CD5C4;\"><strong>PURAVIDA</strong></span><strong> LASH</strong>, las compras al por mayor se refieren a pedidos de <strong>más de 50 unidades por referencia de producto</strong>. Esto te permite disfrutar de precios reducidos, condiciones exclusivas y un trato preferencial en cada pedido."},{"type":"html","id":"ggiN5yGUmGf_text","label":"ggiN5yGUmGf_text","default":"<br><br><strong>Productos Diseñados para Profesionales: Mejora tu técnica con facilidad</strong><br><br>Nuestros productos, como el <strong>Premade Fan</strong>, las <strong>pestañas W</strong> y las <strong>pestañas YY</strong>, están enfocados en mejorar la aplicación de las pestañas, permitiéndote trabajar de manera más eficiente y obtener resultados perfectos en menos tiempo. Estos productos son ideales para lash artists que buscan maximizar su productividad y calidad de trabajo.<br><br><br><strong>Precios Competitivos: Descuentos por Volumen</strong><br><br>Al comprar al por mayor, podrás acceder a <strong>precios reducidos</strong> que te permitirán aumentar tu margen de ganancia sin comprometer la calidad. Te ofrecemos precios competitivos en toda nuestra gama, asegurando que obtienes el mejor valor posible.<br><br><br><strong>Variedad de Productos: Todo lo que necesitas en un solo lugar</strong><br><br>Desde nuestras populares pestañas premade fan, hasta los adhesivos de alta duración y removedores de fácil uso, podrás acceder a <strong>una amplia variedad de productos</strong> que cumplen con las más altas expectativas de tus clientes. Con nuestra selección, podrás ofrecer un servicio completo y de alta calidad.<br><br><br><strong>Envío Prioritario: Recibe tus productos rápido</strong><br><br>No pierdas tiempo esperando. Nuestros clientes mayoristas disfrutan de un <strong>envío rápido y prioritario</strong> para que tus productos lleguen justo cuando los necesitas, manteniendo tu negocio operando sin interrupciones.<br><br><br><strong>Soporte Dedicado: Estamos contigo en cada paso</strong><br><br>Nuestro equipo está aquí para proporcionarte <strong>asistencia personalizada</strong> y ayudarte a elegir los productos que mejor se adapten a tus necesidades. Estamos comprometidos con tu éxito y te acompañaremos en cada etapa de tu negocio.<br><br><br><br><strong>¡Es hora de crecer juntos!</strong><br><br>No dejes pasar esta oportunidad para mejorar tu inventario con productos diseñados específicamente para lash artists. Para más información sobre precios y cómo comenzar rellena este formulario, contacta a través del chat en nuestra web o envía un correo a <a href=\"mailto:info@puravidalash.com\"><strong>info@puravidalash.com</strong></a>. ¡Estamos aquí para ayudarte a llevar tu negocio al siguiente nivel!"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
