

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-545151522460140605.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-545151522460140605.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-545151522460140605.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-545151522460140605.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-545151522460140605.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-545151522460140605.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-545151522460140605.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-545151522460140605.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-545151522460140605.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-545151522460140605.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-545151522460140605.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-545151522460140605.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-545151522460140605.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-545151522460140605.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-545151522460140605.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-545151522460140605.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-545151522460140605.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-545151522460140605.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-545151522460140605.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-545151522460140605.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-545151522460140605.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-545151522460140605.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-545151522460140605.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-545151522460140605.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-545151522460140605.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-545151522460140605.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-545151522460140605.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-545151522460140605.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-545151522460140605.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-545151522460140605.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-545151522460140605.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-545151522460140605.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-545151522460140605.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-545151522460140605.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-545151522460140605.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-545151522460140605.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-545151522460140605.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-545151522460140605.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-545151522460140605.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-545151522460140605.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-545151522460140605.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-545151522460140605.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-545151522460140605.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-545151522460140605.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-545151522460140605.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-545151522460140605.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-545151522460140605.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-545151522460140605.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-545151522460140605.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-545151522460140605.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-545151522460140605.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-545151522460140605.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-545151522460140605.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-545151522460140605.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-545151522460140605.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-545151522460140605.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-545151522460140605.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-545151522460140605.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-545151522460140605.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-545151522460140605.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-545151522460140605.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-545151522460140605.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-545151522460140605.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-545151522460140605.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-545151522460140605.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-545151522460140605.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-545151522460140605.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-545151522460140605.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-545151522460140605.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-545151522460140605 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-545151522460140605 .gp-relative{position:relative}.gps-545151522460140605 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545151522460140605 .gp-mb-0{margin-bottom:0}.gps-545151522460140605 .gp-flex{display:flex}.gps-545151522460140605 .gp-grid{display:grid}.gps-545151522460140605 .\!gp-hidden{display:none!important}.gps-545151522460140605 .gp-hidden{display:none}.gps-545151522460140605 .gp-max-w-full{max-width:100%}.gps-545151522460140605 .gp-flex-col{flex-direction:column}.gps-545151522460140605 .gp-gap-y-0{row-gap:0}.gps-545151522460140605 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545151522460140605 .gp-duration-200{transition-duration:.2s}.gps-545151522460140605 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545151522460140605 .tablet\:\!gp-hidden{display:none!important}.gps-545151522460140605 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545151522460140605 .mobile\:\!gp-hidden{display:none!important}.gps-545151522460140605 .mobile\:gp-hidden{display:none}}.gps-545151522460140605 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545151522460140605 .\[\&_p\]\:gp-inline p{display:inline}.gps-545151522460140605 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545151522460140605 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gaTGpoCHVw" data-id="gaTGpoCHVw"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaTGpoCHVw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giYxss7C-F gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gGg6SovIDw" data-id="gGg6SovIDw"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl-mobile:15px;--pr-mobile:15px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGg6SovIDw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc33yKM9_K gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIzViEX4ce">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIzViEX4ce "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:48px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIzViEX4ce_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gZbPWFk3o8" data-id="gZbPWFk3o8"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--mb:48px;--mb-mobile:28px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:770px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:#2CD5C4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZbPWFk3o8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:0"
      class="gmQrFQ98Jw gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:hidden;display:contents">
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmHfmi8Wn4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gmHfmi8Wn4 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--size:80px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px;overflow:hidden"
        >{{ section.settings.ggmHfmi8Wn4_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:1"
      class="guLkDDVUO_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gworrjHpRX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gworrjHpRX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:22px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggworrjHpRX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gworrjHpRX">
        .gworrjHpRX {

}
.gworrjHpRX p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8B7ybbaq7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8B7ybbaq7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8B7ybbaq7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8B7ybbaq7">
        .g8B7ybbaq7 {

}
.g8B7ybbaq7 p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gMaYs7jhok" data-id="gMaYs7jhok"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--mb:48px;--mb-mobile:28px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:770px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(44, 213, 196, 0.5);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMaYs7jhok gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:0"
      class="g-CZtJMu-l gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:hidden;display:contents">
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghhPGNgtd_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghhPGNgtd_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--size:80px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px;overflow:hidden"
        >{{ section.settings.gghhPGNgtd__text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:1"
      class="gGakm-5JS9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkpOO7oBuT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gkpOO7oBuT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:22px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkpOO7oBuT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gkpOO7oBuT">
        .gkpOO7oBuT {

}
.gkpOO7oBuT p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRAdaRBC1H">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRAdaRBC1H "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRAdaRBC1H_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRAdaRBC1H">
        .gRAdaRBC1H {

}
.gRAdaRBC1H p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="ghrtvAtUJI" data-id="ghrtvAtUJI"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--mb:48px;--mb-mobile:28px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:30px;--cg-mobile:21px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:770px;--w-tablet:770px;--w-mobile:var(--g-ct-w, 100%);--bgc:rgba(44, 213, 196, 0.15);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghrtvAtUJI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:0"
      class="gcDi0v8Ptt gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:visible;--v-tablet:visible;--v-mobile:hidden;display:contents">
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2I4-JdW6H">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2I4-JdW6H "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--size:80px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px;overflow:hidden"
        >{{ section.settings.gg2I4-JdW6H_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center;--o-mobile:1"
      class="gpYmNgjodb gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPqgbcPPRh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPqgbcPPRh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--mb-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:22px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPqgbcPPRh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPqgbcPPRh">
        .gPqgbcPPRh {

}
.gPqgbcPPRh p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdjdDWGGRl">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdjdDWGGRl "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdjdDWGGRl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdjdDWGGRl">
        .gdjdDWGGRl {

}
.gdjdDWGGRl p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-545151522460140605 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/807a28-6b/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=509724990082384771&sectionId=545151522460140605)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIzViEX4ce_text","label":"ggIzViEX4ce_text","default":"<strong>¿Cómo Empezar a Comprar al por Mayor?</strong>"},{"type":"html","id":"ggmHfmi8Wn4_text","label":"ggmHfmi8Wn4_text","default":"1"},{"type":"html","id":"ggworrjHpRX_text","label":"ggworrjHpRX_text","default":"<p><strong>Contacta con Nosotros</strong></p>"},{"type":"html","id":"gg8B7ybbaq7_text","label":"gg8B7ybbaq7_text","default":"<p>Rellena el formulario o escríbenos a <strong>info@puravidalash.com</strong>.&nbsp;</p>"},{"type":"html","id":"gghhPGNgtd__text","label":"gghhPGNgtd__text","default":"2"},{"type":"html","id":"ggkpOO7oBuT_text","label":"ggkpOO7oBuT_text","default":"<p><strong>Solicita tu Catálogo</strong></p>"},{"type":"html","id":"ggRAdaRBC1H_text","label":"ggRAdaRBC1H_text","default":"<p>Recibe nuestra lista de productos y precios mayoristas.</p>"},{"type":"html","id":"gg2I4-JdW6H_text","label":"gg2I4-JdW6H_text","default":"3"},{"type":"html","id":"ggPqgbcPPRh_text","label":"ggPqgbcPPRh_text","default":"<p><strong>Realiza tu Pedido</strong></p>"},{"type":"html","id":"ggdjdDWGGRl_text","label":"ggdjdDWGGRl_text","default":"<p>Disfruta de envío prioritario y descuentos exclusivos.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
